/**
 * @file
 * Main layout for the theme.
 */
@import "../base/variables";

main {
  min-height: 37vh;
}

.block {
  &-inverted-logo-block {
    margin: 0 spx(1) spx(1) 0;
    max-width: 150px;

    @media all and (max-width: $mobile-break) {
      margin: 0 auto spx(1);
    }
  }

  &-social {
    width: 115px;

    @media all and (max-width: $mobile-break) {
      margin: 0 auto spx(1);
    }
  }

  &-system-branding-block {
    margin: spx(3.6) spx(4) spx(1.6) spx(2);
    max-width: 125px;
    min-width: 105px;
    @media all and (max-width: 1300px) {
      margin: spx(3.6) spx(2) spx(1.6) spx(2);
    }
    @media all and (max-width: $tablet-break) {
      margin: spx(1.6) spx(2);
    }
    @media all and (max-width: 225px) {
      min-width: inherit;
    }
  }
}

.entity-type {
  &-section {
    padding: spx(8) spx(2);
  }
}

.entity-bundle {
  &-column{
    margin: 0;

    &.entity-type-section:not(.padding--0) {
      padding: spx(2) spx(2);
    }

    @media all and (max-width: 1023px) {
      /* This mq matches to where display--flex begins wrapping. */
      min-width: 270px;
    }
    @media all and (max-width: 615px) {
      //
    }
  }

  &-row {
    padding: 0;

    @media all and (max-width: $mobile-break) {
      flex-direction: column;
    }
  }

  &-cards {
    @media all and (max-width: $tablet-break) {
      display: block;

      > .entity-type-card {
        display: inline-block;
      }
    }
  }

  &-stripe {
    > .inner {
      margin: 0 auto;
      max-width: $content-area-width;
    }
  }
}

.page {
  text-align: $text-align-base;
}

.region {
  > .inner {
    margin: 0 auto;
    max-width: $content-area-width;
  }

  &-content-top {
    position: relative;
    z-index: 3;
  }

  &-content {
    > .inner {
      max-width: inherit;
    }
  }

  &-splash {
    padding: 120px 0 0;

    .block-hero-title-block {
      .has-field-image-background:not(.has-field-video-background) & {
        max-width: 550px;
      }
    }

    @media all and (max-width: 1440px) {
      padding: 0 20px;

      @media all and (min-width: $mobile-break) {
        .has-field-video-background & {
          padding-top: 4.5% !important;
          > .inner {
            max-height: 585px;
          }
        }
      }
    }
  }
}
