/**
 * @file
 * Style for entities in general.
 */
@import "../base/variables";

.entity {
  &-bundle {
    &-hero {
      // Stuff.
    }

    &-heading {
      color: $color-darkteal;
      max-width: 800px;

      .path-frontpage & {
        max-width: none;
      }

      .color--white & {
        color: $color-white;
      }
    }

    &-column {
      padding-left: 1rem;
      padding-right: 1rem;

      & > * {

      }
      .entity-bundle-heading,
      .entity-bundle-rich-text,
      .entity-bundle-list {
        max-width: 550px;
      }
    }

    &-link {
      padding-top: 1rem;
    }

    &-rich-text {
      ul {
        margin: 20px 40px;
        max-width: 70ch;
        overflow-wrap: break-word;
        word-wrap: break-word;

        li {
          list-style: none;
          position: relative;
          padding-left: 25px;
          text-align: left;

          &:before {
            content: '\2023';
            position: absolute;
            left: 0;
            color: $color-prim;
          }
        }
      }
    }

    &-stripe {
      [class*='background-color--'] & {
        input {
          border: 1px solid $color-lightgray;
        }
      }
    }
    &-company-reference {

      .vocabulary-company {
        padding-left: spx(1);
        padding-right: spx(1);

        a {
          min-height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .field-name--field-subtitle {
          min-height: 40px;
        }

        @media all and (max-width: $tablet-break) {
          display: inline-block;
          margin: spx(5) 0;
        }
      }

      @media all and (max-width: $tablet-break) {
        display: block;
      }
    }
  }

  &-type {
    &-section {
      .list-style-type {
        &--fa-check-circle > li {
          list-style: none;
          position: relative;
          padding-left: 60px;
          text-align: left;
          line-height: 21px;
          margin-bottom: 1rem;
          min-height: 29px;

          max-width: 70ch;
          margin-left: auto;
          margin-right: auto;

          &:before {
            content: '\f058';
            font-family: 'Font Awesome 5 Free', sans-serif;
            font-size: 29px;
            line-height: 29px;
            color: $color-lightblue;
            position: absolute;
            font-weight: 900;
            left: 0;

            .region-splash & {

            }
          }
        }
      }

      &.has-field-video-background {
        .entity-bundle-heading {
          color: $color-white;
        }
      }

      @media all and (max-width: $mobile-break) {
        .flex-direction--row {
          flex-direction: column;
        }
      }

    }
  }
}

.node {
  &.node--view-mode-teaser {
    > h2 {
      font-size: 1.5em;
    }
  }

  &.node--view-mode-full {
    > .node__content {
      > .field {
        max-width: 1200px;
        margin: 0 auto;
      }
    }
  }

  &.node--type-release {
    .submitted {
      margin: spx(1) 0;
    }
  }
}

.node__links {
  margin: spx(2) 0 0;
}
