.footer-wrapper {
  background-color: $color-darkteal;

  > div {
    flex-direction: column-reverse;
    padding-top: spx(1);
  }

  .menu {
    display: flex;
    flex-direction: column;

    a,
    span {
      color: $color-white;
      font-weight: 100;
      padding: 5px 0;
      font-size: 14px;
      display: inline-block;

      &:hover {
        color: $color-yellow;
        text-shadow: 1px 0 0;
      }
    }
  }

  ul.menu > li.menu-item--expanded {
    vertical-align: top;
    flex-grow: 1;

    > a {
      color: $color-lightteal;
      font-size: 18px;
      font-weight: 700;

      &:hover {
        text-shadow: none;
      }
    }

    ul.menu {
    display: block;

    & > li {
      display: block;
      }
    }
  }

  .region-footer-utility {
    .menu {
      a,
      span {
        font-size: 12px;
      }
    }

    .sencha-badge {
      margin-bottom: 2rem;
    }
    @media all and (max-width: $mobile-break) {
      .sencha-badge {
        display: inline-block;
      }

      .pipe-spaced li {
        &:after {
          content: none;
        }
      }
    }
  }

  .social {
    margin-top: 1rem;
    a {
      &::before {
        border-radius: 2px;
        margin-right: .5rem;
        background-color: $color-lightteal;
        padding: 5px 8px;
        color: $color-prim;
      }
      &:last-child {
        &:before {
          margin-right: 0;
        }
      }

      &:hover::before {
        background-color: $color-yellow;
        color: $color-prim;
      }
    }
  }

  @media all and (min-width: $mobile-break) {

    ul.menu {
      flex-direction: row;
    }
    > div {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: row;
    }
  }
}
