/**
 * @file
 * Style for sticky headers at the top of pages.
 */
@import "../base/variables";
@media all and (min-width: 1226px){
  .headroom {
    left: 0;
    position: fixed;
    right: 0;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
    will-change: transform;
    z-index: 100;

    .path-frontpage &--top {
      background-color: transparent;
    }

    &--top {
      background-color: rgba($color-darkteal, 0.9);
    }

    &--not-top {
      &:not(.headroom--unpinned) {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);

        .compro-superfish li.menu-item--expanded > ul {
        }
      }

      &:not(.headroom--pinned) {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
      }
    }

    &--pinned {
      background-color: rgba($color-prim, .95);
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
    }

    &--unpinned {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
}
