/**
 * @file
 * Style for pagers.
 */
@import "../base/variables";

.pager {
  font-weight: 600;
  margin: spx(4) auto;
  text-align: center;
  text-transform: uppercase;

  li {
    line-height: 1;

    > a,
    > span {
      border: spx(.2) solid transparent;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      color: $color-prim;
      display: inline-block;
      font-size: 0.7em;
      padding: spx(.5) spx(.9);
      text-decoration: none;
    }

    > a {
      &:hover {
        border-color: $color-sec;
      }
    }

    &.pager-current,
    &.is-active {
      > span,
      > a {
        border-color: $color-sec;
      }
    }

    &.pager__item--previous {
      border-right: 1px solid $color-bg-light;
      margin-right: spx(.4);
      padding-right: spx(1.6);
    }

    &.pager__item--next {
      border-left: 1px solid $color-bg-light;
      margin-left: spx(.4);
      padding-left: spx(1.6);
    }
  }

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
      margin: 0;
    }
  }
}
