/**
 * @file
 * Style for the skip link.
 */
@import "../base/variables";

.skip-hide {
  background: $color-prim-medium;
  position: relative;
  text-align: center;

  a {
    color: $color-sec-light;
    display: block;
    height: 1px;
    left: -10000px;
    overflow: hidden;
    padding: spx(1);
    position: absolute;
    top: auto;
    width: 1px;

    &:focus {
      height: auto;
      outline: 0 none;
      position: static;
      width: auto;
    }
  }
}
