/**
 * @file
 * Style for views directly.
 */
@import "../base/variables";

.view {
  &s-label {
    font-weight: bold;
  }

  &s-row {
    margin: 0 0 spx(4);
  }

  &-taxonomy-term {
    margin: spx(1) auto;
    max-width: $content-area-width;
  }

  &-case-study {
    .views-row {
      padding: spx(4) spx(2);
      max-width: 320px;

      .views-field-field-longtext {
        margin: spx(2) 0;
      }
    }
  }

  &-blog,
  &-event {
    .views-row {
      background-color: $color-superlightgray;
      padding: spx(4) spx(2);
    }

    .field-name--body {
      margin-top: spx(2);

      img {
        margin: spx(1) auto;
      }
    }
  }

  &-filters {
    display: inline-block;
    max-width: none;

    label {
      display: inline-block;

      &:after {
        content: ":";
        padding-left: 2px;
      }
    }

    .form-select {
      text-align: center;
      display: inline-block;
      > div {
        display: inline-block;
        margin: spx(2);
      }

      a {
        font-weight: 500;
        color: $color-mediumgray;
        padding: spx(1) spx(2);
        border: 1px solid $color-mediumgray;
        border-radius: 4px;

        &:hover {
          color: $color-white;
          border-color: $color-orange;
          background-color: $color-orange;
        }


        &.bef-link-active {
          color: $color-white;
          border-color: $color-orange;
          background-color: $color-orange;
        }
      }
    }
  }

  &-release {
    p {
      margin-left: 0;
    }

    .align-self--center {
      @media all and (min-width: 1024px) {
        margin: 0 0 spx(1) spx(2);
      }
    }

    .display--flex {
      @media all and (max-width: 1023px) {
        display: block;
      }
    }

    .views-field {
        margin-bottom: spx(1);
    }
  }

  &-resource {
    form {
      max-width: none;
    }
  }

  .vocabulary-video-type {
    text-align: left;
    margin-bottom: spx(4);
  }
}

.viewsreference--view-title {
  border-bottom: $border-width solid $color-text-light;
  color: $color-prim;
  font-weight: 400;
  margin: spx(2) 0 spx(2);
  padding: spx(1) 0;
  text-align: left;
  text-transform: uppercase;
}

.views-element-container {
  padding: 0 spx(1);
}
