/**
 * @file
 * Variables for reuse throughout the theme.
 */

/**
 * Common settings.
 */
$border-radius: 0;
$border-width: 1px;
$columns: 3; // For actual columns (text).
$content-area-width: 1440px;
$filter-base: 50%;
$line-height-copy: 1.4;
$line-height-heading: 1;
$opacity-base: 0.5;
$spacing-base: 10px; // Number of pixels for a 'unit' of padding/margin.
$text-align-base: center;

/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */

/* Main settings. */
$color-bg: #fff; // Customarily light.
$color-text: #404040; // Customarily dark. (redeclared later).
$color-prim: #2b3985; // Links and important elements. If the brand has blue, put it here.
$color-sec: #f09e11; // If primary is blue, go with orange or something here.
$color-tert: #b02947; // This is something weird, like a green or a purple.

/* Stateful colors. */
$color-status: #1ba989;
$color-warning: #f09e11;
$color-error: #b02947;

/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
$color-bg-1: darken($color-bg, 99%);
$color-bg-10: lighten($color-bg-1, 10%);
$color-bg-20: lighten($color-bg-1, 20%);
$color-bg-30: lighten($color-bg-1, 30%);
$color-bg-40: lighten($color-bg-1, 40%);
$color-bg-50: lighten($color-bg-1, 50%);
$color-bg-60: lighten($color-bg-1, 60%);
$color-bg-70: lighten($color-bg-1, 70%);
$color-bg-80: lighten($color-bg-1, 80%);
$color-bg-90: lighten($color-bg-1, 90%);
$color-bg-99: lighten($color-bg-1, 99%);
$color-text-1: darken($color-text, 99%);
$color-text-10: lighten($color-text-1, 10%);
$color-text-20: lighten($color-text-1, 20%);
$color-text-30: lighten($color-text-1, 30%);
$color-text-40: lighten($color-text-1, 40%);
$color-text-50: lighten($color-text-1, 50%);
$color-text-60: lighten($color-text-1, 60%);
$color-text-70: lighten($color-text-1, 70%);
$color-text-80: lighten($color-text-1, 80%);
$color-text-90: lighten($color-text-1, 90%);
$color-text-99: lighten($color-text-1, 99%);
$color-prim-1: darken($color-prim, 99%);
$color-prim-10: lighten($color-prim-1, 10%);
$color-prim-20: lighten($color-prim-1, 20%);
$color-prim-30: lighten($color-prim-1, 30%);
$color-prim-40: lighten($color-prim-1, 40%);
$color-prim-50: lighten($color-prim-1, 50%);
$color-prim-60: lighten($color-prim-1, 60%);
$color-prim-70: lighten($color-prim-1, 70%);
$color-prim-80: lighten($color-prim-1, 80%);
$color-prim-90: lighten($color-prim-1, 90%);
$color-prim-99: lighten($color-prim-1, 99%);
$color-sec-1: darken($color-sec, 99%);
$color-sec-10: lighten($color-sec-1, 10%);
$color-sec-20: lighten($color-sec-1, 20%);
$color-sec-30: lighten($color-sec-1, 30%);
$color-sec-40: lighten($color-sec-1, 40%);
$color-sec-50: lighten($color-sec-1, 50%);
$color-sec-60: lighten($color-sec-1, 60%);
$color-sec-70: lighten($color-sec-1, 70%);
$color-sec-80: lighten($color-sec-1, 80%);
$color-sec-90: lighten($color-sec-1, 90%);
$color-sec-99: lighten($color-sec-1, 99%);
$color-tert-1: darken($color-tert, 99%);
$color-tert-10: lighten($color-tert-1, 10%);
$color-tert-20: lighten($color-tert-1, 20%);
$color-tert-30: lighten($color-tert-1, 30%);
$color-tert-40: lighten($color-tert-1, 40%);
$color-tert-50: lighten($color-tert-1, 50%);
$color-tert-60: lighten($color-tert-1, 60%);
$color-tert-70: lighten($color-tert-1, 70%);
$color-tert-80: lighten($color-tert-1, 80%);
$color-tert-90: lighten($color-tert-1, 90%);
$color-tert-99: lighten($color-tert-1, 99%);
$color-status-1: darken($color-status, 99%);
$color-status-10: lighten($color-status-1, 10%);
$color-status-20: lighten($color-status-1, 20%);
$color-status-30: lighten($color-status-1, 30%);
$color-status-40: lighten($color-status-1, 40%);
$color-status-50: lighten($color-status-1, 50%);
$color-status-60: lighten($color-status-1, 60%);
$color-status-70: lighten($color-status-1, 70%);
$color-status-80: lighten($color-status-1, 80%);
$color-status-90: lighten($color-status-1, 90%);
$color-status-99: lighten($color-status-1, 99%);
$color-warning-1: darken($color-warning, 99%);
$color-warning-10: lighten($color-warning-1, 10%);
$color-warning-20: lighten($color-warning-1, 20%);
$color-warning-30: lighten($color-warning-1, 30%);
$color-warning-40: lighten($color-warning-1, 40%);
$color-warning-50: lighten($color-warning-1, 50%);
$color-warning-60: lighten($color-warning-1, 60%);
$color-warning-70: lighten($color-warning-1, 70%);
$color-warning-80: lighten($color-warning-1, 80%);
$color-warning-90: lighten($color-warning-1, 90%);
$color-warning-99: lighten($color-warning-1, 99%);
$color-error-1: darken($color-error, 99%);
$color-error-10: lighten($color-error-1, 10%);
$color-error-20: lighten($color-error-1, 20%);
$color-error-30: lighten($color-error-1, 30%);
$color-error-40: lighten($color-error-1, 40%);
$color-error-50: lighten($color-error-1, 50%);
$color-error-60: lighten($color-error-1, 60%);
$color-error-70: lighten($color-error-1, 70%);
$color-error-80: lighten($color-error-1, 80%);
$color-error-90: lighten($color-error-1, 90%);
$color-error-99: lighten($color-error-1, 99%);

/**
 * Functions.
 */

// Return pixel values based on the site's spacing base.
/* stylelint-disable */
@function spx($multiplier){
  @return ceil($spacing-base * $multiplier)
}
/* stylelint-enable */
