/**
 * @file
 * Style for hubspot form embeds.
 */
@import "../base/variables";

.hs {
  &-form {
    input:not([type]),
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="tel"],
    input[type="url"],
    input[type="text"] {
      @media all and (min-width: 670px) {
        width: 95%;
      }
    }

    ul {
      list-style: none;
    }

    .clearfix,
    .field,
    .hs-form-field {
      margin-bottom: spx(2);
    }

    .hsErrMsgContainer {
      ul {
        color: $color-error-30;
      }
    }
  }

  &-input {
    &:-moz-placeholder {
      color: #bfbfbf
    }

    &::-webkit-input-placeholder {
      color: #bfbfbf
    }
  }
}

input.hs-input.error,
.hs-form div.field.error input,
.hs-form div.field.error textarea,
.hs-form div.field.error .chzn-choices,
textarea.hs-input.error {
  border-color: $color-error;
}

input.hs-input.error:focus,
.hs-form div.field.error input:focus,
.hs-form div.field.error textarea:focus,
.hs-form div.field.error .chzn-choices:focus,
textarea.hs-input.error:focus {
  border-color: $color-error-70;
}

.help {
  &-block {
    color: $color-text-30;
    display: block;
    max-width: 600px;
  }

  &-inline {
    color: $color-text-30;
    padding-left: 5px;
  }
}

.hsformerror {
  background-color: $color-error-90;
  border: 1px solid $color-error-30;
  display: none;
  height: auto;
  z-index: 99;

  .close-form-error {
    float: right;
    display: inline;
  }
}

.inline-inputs {
  span,
  input {
    display: inline-block;
  }
}
