/**
 * @file
 * Message component.
 */
@import "../base/variables";

.messages {
  font-style: italic;
  margin: $spacing-base 0;
  padding: $spacing-base;

  &--error {
    background: $color-error-90;
    color: $color-error-10;
  }

  &--status {
    background: $color-status-90;
    color: $color-status-10;
  }

  &--warning {
    background: $color-warning-90;
    color: $color-warning-10;
  }
}
