/**
 * @file
 * Style for views directly.
 */
@import "../base/variables";

.view {
  &-location {
    .view-content {
      > h3 {
        border-top: $border-width solid $color-text-80;
        margin: spx(2) 0 0;
        padding: spx(2) 0;
        text-align: left;
        width: 100%;

        &:first-of-type {
          border-top: 0 none;
        }
      }

      .views-row {
        font-size: 0.8em;
        margin: 0 spx(2) spx(4) 0;
        max-width: 300px;
        min-width: 200px;
        text-align: left;

        @media all and (max-width: 1023px) {
          -webkit-flex-basis: 250px;
          -ms-flex-preferred-size: 250px;
          flex-basis: 250px;
        }

        h3 {
          font-weight: 600;
        }
      }
    }
  }

  &-taxonomy-term {
    margin: spx(1) auto;
    max-width: $content-area-width;
  }
}

.viewsreference--view-title {
  border-bottom: $border-width solid $color-text-80;
  color: $color-prim;
  font-weight: 400;
  margin: spx(2) 0 spx(2);
  padding: spx(1) 0;
  text-align: left;
  text-transform: uppercase;
}
