/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
/**
 * @file
 * font-face decs and font-family usage for the whole application.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
/* font-face declarations. */
@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Josefin Sans Light"), local("JosefinSans-Light"), url("../fonts/josefin/josefin-sans-v12-latin_latin-ext-300.woff2") format("woff2"), url("../fonts/josefin/josefin-sans-v12-latin_latin-ext-300.woff") format("woff"); }
@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Josefin Sans Light Italic"), local("JosefinSans-LightItalic"), url("../fonts/josefin/josefin-sans-v12-latin_latin-ext-300italic.woff2") format("woff2"), url("../fonts/josefin/josefin-sans-v12-latin_latin-ext-300italic.woff") format("woff"); }
@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Josefin Sans Regular"), local("JosefinSans-Regular"), url("../fonts/josefin/josefin-sans-v12-latin_latin-ext-regular.woff2") format("woff2"), url("../fonts/josefin/josefin-sans-v12-latin_latin-ext-regular.woff") format("woff"); }
@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Josefin Sans Italic"), local("JosefinSans-Italic"), url("../fonts/josefin/josefin-sans-v12-latin_latin-ext-italic.woff2") format("woff2"), url("../fonts/josefin/josefin-sans-v12-latin_latin-ext-italic.woff") format("woff"); }
@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Josefin Sans SemiBold"), local("JosefinSans-SemiBold"), url("../fonts/josefin/josefin-sans-v12-latin_latin-ext-600.woff2") format("woff2"), url("../fonts/josefin/josefin-sans-v12-latin_latin-ext-600.woff") format("woff"); }
@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Josefin Sans SemiBold"), local("JosefinSans-Bold"), url("../fonts/josefin/josefin-sans-v12-latin_latin-ext-700.woff2") format("woff2"), url("../fonts/josefin/josefin-sans-v12-latin_latin-ext-700.woff") format("woff"); }
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local("Lora"), local("Lora-Regular"), url("../fonts/lora/lora-v12-latin_latin-ext-regular.woff2") format("woff2"), url("../fonts/lora/lora-v12-latin_latin-ext-regular.woff") format("woff"); }
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local("Lora Bold Italic"), local("Lora-Bold"), url("../fonts/lora/lora-v12-latin_latin-ext-700.woff2") format("woff2"), url("../fonts/lora/lora-v12-latin_latin-ext-700.woff") format("woff"); }
/* font-family declarations. */
html,
button,
input,
select,
textarea {
  font-family: "Josefin Sans", Arial, sans-serif; }

body {
  font-family: "Josefin Sans", Arial, sans-serif; }

pre,
code,
kbd,
samp {
  font-family: "courier new", monospace; }

.font-family--tertiary,
.heading--closing-include::after,
.heading--opening-include::before {
  font-family: "Lora", Georgia, serif; }

/**
 * @file
 * HTML elements and base-level tags.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]),
[hidden] {
  display: none; }

html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow-y: scroll;
  text-rendering: optimizeLegibility; }

body {
  background: #fff;
  color: #404040;
  font-size: 20px;
  font-weight: 300;
  height: 100%;
  line-height: 1.4;
  margin: 0; }

/* Links. */
a:link {
  color: #2b3985; }
a:visited {
  color: #32429a; }
a:hover {
  color: #19214d; }
a:active {
  color: #19214d; }
a:focus {
  outline: 0 none;
  -webkit-text-decoration: underline dotted;
  -moz-text-decoration: underline dotted;
  text-decoration: underline dotted; }

/* Lists. */
ul,
ol {
  margin: 0;
  padding: 0; }
  ul ul,
  ol ul {
    padding: 0 0 0 1.2em; }

dd {
  margin: 0 0 0 40px; }

dfn {
  font-style: italic; }

/* Headings */
h1 {
  font-size: 1.9em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  overflow-wrap: break-word;
  word-wrap: break-word; }
  h1 > a:link, h1 > a:visited {
    color: inherit;
    text-decoration: inherit; }
  h1 + h2 {
    margin-top: 0; }

h2 {
  font-size: 1.292em;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 10px;
  overflow-wrap: break-word;
  word-wrap: break-word; }
  h2 > a:link, h2 > a:visited {
    color: inherit;
    text-decoration: inherit; }
  h2:first-child,
  h2 + h3 {
    margin-top: 0; }

h3 {
  font-size: 1.225em;
  font-weight: bold;
  line-height: 1;
  margin: 30px 0 10px;
  overflow-wrap: break-word;
  word-wrap: break-word; }
  h3 > a:link, h3 > a:visited {
    color: inherit;
    text-decoration: inherit; }
  h3:first-child,
  h3 + h4 {
    margin-top: 0; }

h4 {
  font-size: 1.125em;
  font-weight: normal;
  line-height: 1;
  margin: 1.33em 0;
  text-transform: uppercase;
  overflow-wrap: break-word;
  word-wrap: break-word; }
  h4 > a:link, h4 > a:visited {
    color: inherit;
    text-decoration: inherit; }
  h4:first-child,
  h4 + h5 {
    margin-top: 0; }

h5 {
  border-bottom: 1px solid;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  margin: 1.67em 0; }
  h5 > a:link, h5 > a:visited {
    color: inherit;
    text-decoration: inherit; }
  h5:first-child,
  h5 + h6 {
    margin-top: 0; }

h6 {
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1;
  margin: 2.33em 0; }
  h6 > a:link, h6 > a:visited {
    color: inherit;
    text-decoration: inherit; }
  h6:first-child {
    margin-top: 0; }

/* Other */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap; }
abbr.tabledrag-changed, abbr.ajax-changed {
  border-bottom: none; }

address {
  font-style: normal;
  text-align: left; }

b,
strong {
  font-weight: bold; }

blockquote {
  font-size: 1.5em;
  margin: 0 auto 20px; }
  @media all and (max-width: 960px) {
    blockquote {
      font-size: 1.25em; } }

audio,
embed,
iframe,
img,
object,
picture,
svg,
video {
  max-width: 100%; }

iframe {
  border: 1px solid #828282; }
  .js--iframe-resize iframe {
    border-color: transparent; }

img {
  border: 0;
  display: block;
  height: auto !important;
  -ms-interpolation-mode: bicubic;
  line-height: 0; }

svg:not(:root) {
  overflow: hidden; }

figcaption {
  color: #1a1a1a;
  font-size: .75em; }

figure {
  display: inline-block;
  min-width: 150px; }

hr {
  background-color: #1a1a1a;
  border-width: 0;
  color: #1a1a1a;
  height: 1px;
  line-height: 0;
  margin: 50px 0; }

mark {
  color: #c07e0c; }

p {
  margin: 0 0 20px;
  max-width: 960px;
  overflow-wrap: break-word;
  word-wrap: break-word; }
  p:last-child {
    margin: 0; }

pre,
code,
kbd,
samp {
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }
  q::before, q::after {
    content: ""; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Table */
table {
  background: #e8e8e8;
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show; }

caption {
  font-size: 0.75em;
  text-align: left; }

thead {
  background: #1a1a1a;
  color: #fff;
  text-transform: uppercase; }
  thead a,
  thead a:link,
  thead a:visited {
    color: #fff; }

tr.even {
  background: #e8e8e8; }
  tr.even > td:nth-child(2) {
    background: #e8e8e8; }

td,
th {
  border-left: 0 none;
  font-weight: normal;
  padding: 0.5em 1em; }
  td:first-child,
  th:first-child {
    border-left: 0 none; }

td:nth-child(2) {
  background: #fff; }

/**
 * @file
 * HTML form elements.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
button,
input,
select,
textarea {
  background: #fff;
  border: 1px solid #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #404040;
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  max-width: 100%;
  padding: 5px 10px;
  vertical-align: middle; }
  @media all and (max-width: 670px) {
    button,
    input,
    select,
    textarea {
      max-width: 280px; } }

textarea {
  max-height: inherit;
  padding: 5px 20px; }

button,
input {
  line-height: 1; }

select {
  max-width: 100%; }
  @media all and (max-width: 670px) {
    select {
      max-width: 280px; } }

.child-links--as-buttons a,
.button,
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #f09e11;
  border-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  margin: 0 20px 20px 0;
  padding: 13px 40px 10px;
  text-decoration: none;
  text-transform: uppercase; }
  .child-links--as-buttons a:hover,
  .button:hover,
  a.button:hover,
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    background-color: #905e09; }
  .child-links--as-buttons a:active,
  .button:active,
  a.button:active,
  button:active,
  input[type="button"]:active,
  input[type="reset"]:active,
  input[type="submit"]:active {
    background-color: rgba(240, 158, 17, 0.5); }
  .child-links--as-buttons a:focus,
  .button:focus,
  a.button:focus,
  button:focus,
  input[type="button"]:focus,
  input[type="reset"]:focus,
  input[type="submit"]:focus {
    outline: 1px dashed;
    outline-offset: 1px; }
  .child-links--as-buttons a.disabled, .child-links--as-buttons a[disabled],
  .button.disabled,
  .button[disabled],
  a.button.disabled,
  a.button[disabled],
  button.disabled,
  button[disabled],
  input[type="button"].disabled,
  input[type="button"][disabled],
  input[type="reset"].disabled,
  input[type="reset"][disabled],
  input[type="submit"].disabled,
  input[type="submit"][disabled] {
    background-color: #cfcfcf;
    color: #1a1a1a;
    cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer; }

input[type="file"] {
  padding: 2px; }

input[type="file"]::-webkit-file-upload-button {
  font-size: 0.95em;
  margin: 0; }

input[type="image"] {
  border: 0 none; }

form {
  text-align: left; }
  form .field-multiple-table {
    margin: 0; }
    form .field-multiple-table .field-multiple-drag {
      width: 30px;
      padding-right: 0; }
      form .field-multiple-table .field-multiple-drag .tabledrag-handle {
        padding-right: 5px; }
  form .field-add-more-submit {
    margin: 5px 0 0; }

label {
  display: block;
  font-size: 14px;
  font-weight: 300; }
  label.option {
    display: inline;
    font-weight: normal; }

.description {
  font-size: 0.85em; }

.form-actions, .form-item {
  margin: 0 0 10px;
  overflow-wrap: break-word;
  word-wrap: break-word; }
  .form-actions input.error,
  .form-actions textarea.error,
  .form-actions select.error, .form-item input.error,
  .form-item textarea.error,
  .form-item select.error {
    border: 2px solid #b02947; }
  .form-actions--error-message::before, .form-item--error-message::before {
    content: '';
    display: inline-block;
    height: 14px;
    width: 14px;
    vertical-align: sub;
    background: url(/core/misc/icons/e32700/error.svg) no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
.form-checkboxes .form-item, .form-radios .form-item {
  margin-top: 5px;
  margin-bottom: 5px; }
.form-composite > legend {
  display: inline;
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  padding: 0; }
.form-required::after {
  content: '*';
  display: inline-block;
  margin: 0 0 0 2px;
  vertical-align: super; }
.form-type-checkbox .description, .form-type-radio .description {
  margin-left: 2.4em; }
.form-type-item {
  font-weight: 700; }
  .form-type-item label {
    display: inline-block; }

.label {
  display: inline;
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  padding: 0; }

.marker {
  color: #e00; }

/**
 * @file
 * Utility and other generalized classes, in alphabetical order.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.align-content--flex-start {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }
.align-content--flex-end {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end; }
.align-content--center {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }
.align-content--dave-matthews {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between; }
.align-content--space-around {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around; }
.align-content--space-evenly {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: space-evenly;
  align-content: space-evenly; }
.align-content--stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }
.align-items--flex-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
.align-items--flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
.align-items--center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.align-items--baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
.align-items--stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
.align-self--flex-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }
.align-self--flex-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }
.align-self--center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }
.align-self--baseline {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline; }
.align-self--stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch; }

.background-attachment--fixed {
  background-attachment: fixed; }
.background-attachment--local {
  background-attachment: local; }
.background-attachment--scroll {
  background-attachment: scroll; }
.background-overlay--primary, .background-overlay--secondary, .background-overlay--tertiary, .background-overlay--status {
  position: relative; }
  .background-overlay--primary::before, .background-overlay--secondary::before, .background-overlay--tertiary::before, .background-overlay--status::before {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
.background-overlay--primary::before {
  background-color: rgba(43, 57, 133, 0.5); }
.background-overlay--secondary::before {
  background-color: rgba(240, 158, 17, 0.5); }
.background-overlay--tertiary::before {
  background-color: rgba(176, 41, 71, 0.5); }
.background-overlay--status::before {
  background-color: rgba(27, 169, 137, 0.5); }
.background-position-x--left {
  background-position-x: left; }
.background-position-x--right {
  background-position-x: right; }
.background-position-x--center {
  background-position-x: center; }
.background-position-y--top {
  background-position-y: top; }
.background-position-y--bottom {
  background-position-y: bottom; }
.background-position-y--center {
  background-position-y: center; }
.background-repeat--repeat-x {
  background-repeat: repeat-x; }
.background-repeat--repeat-y {
  background-repeat: repeat-y; }
.background-repeat--repeat {
  background-repeat: repeat; }
.background-repeat--space {
  background-repeat: space; }
.background-repeat--round {
  background-repeat: round; }
.background-repeat--no-repeat {
  background-repeat: no-repeat; }
.background-size--auto {
  -webkit-background-size: auto auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto; }
.background-size--contain {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }
.background-size--cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.blockquote--closing-include p:last-child::after {
  content: "\201D"; }
.blockquote--opening-include p:first-child::before {
  content: "\201C"; }

.box-shadow--big--light {
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), 1px -1px 1px rgba(255, 255, 255, 0.5), -1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), 1px -1px 1px rgba(255, 255, 255, 0.5), -1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), 1px -1px 1px rgba(255, 255, 255, 0.5), -1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 1px rgba(255, 255, 255, 0.5); }
.box-shadow--big--dark {
  -webkit-box-shadow: 1px 1px 1px rgba(64, 64, 64, 0.5), 1px -1px 1px rgba(64, 64, 64, 0.5), -1px 1px 1px rgba(64, 64, 64, 0.5), -1px -1px 1px rgba(64, 64, 64, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(64, 64, 64, 0.5), 1px -1px 1px rgba(64, 64, 64, 0.5), -1px 1px 1px rgba(64, 64, 64, 0.5), -1px -1px 1px rgba(64, 64, 64, 0.5);
  box-shadow: 1px 1px 1px rgba(64, 64, 64, 0.5), 1px -1px 1px rgba(64, 64, 64, 0.5), -1px 1px 1px rgba(64, 64, 64, 0.5), -1px -1px 1px rgba(64, 64, 64, 0.5); }
.box-shadow--small--light {
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5); }
.box-shadow--small--dark {
  -webkit-box-shadow: 0 0 2px rgba(64, 64, 64, 0.5);
  -moz-box-shadow: 0 0 2px rgba(64, 64, 64, 0.5);
  box-shadow: 0 0 2px rgba(64, 64, 64, 0.5); }

.child-links--regular a {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  margin: 0 10px 20px 0;
  text-transform: uppercase; }
  .child-links--regular a .ytlink-init {
    margin: 0 10px 10px 0; }

.clear--both {
  clear: both; }
.clear--left {
  clear: left; }
.clear--right {
  clear: right; }
.clear--none {
  clear: none; }

.colorscheme-dark {
  color: #404040; }
  .colorscheme-dark.has-field-image {
    font-weight: 400; }
.colorscheme-middle {
  background-color: #19214d;
  color: #fff;
  font-weight: 400; }
  .colorscheme-middle h1, .colorscheme-middle h2, .colorscheme-middle h3 {
    color: inherit; }
.colorscheme-inverted, .colorscheme-light {
  background-color: #19214d;
  color: #fff;
  font-weight: 400; }
  .colorscheme-inverted a, .colorscheme-light a {
    color: inherit; }
    .colorscheme-inverted a:hover, .colorscheme-light a:hover {
      color: #e8e8e8; }
  .colorscheme-inverted h1, .colorscheme-inverted h2, .colorscheme-inverted h3, .colorscheme-light h1, .colorscheme-light h2, .colorscheme-light h3 {
    color: inherit; }
.colorscheme-primary.view-mode-grid {
  color: #fff;
  font-weight: 400; }
  .colorscheme-primary.view-mode-grid::before {
    background-color: rgba(43, 57, 133, 0.75); }
.colorscheme-primary.entity-bundle-stripe h1,
.colorscheme-primary .field--name-title,
.colorscheme-primary .font-family--tertiary {
  color: #2b3985; }
.colorscheme-secondary.view-mode-grid {
  color: #fff;
  font-weight: 400; }
  .colorscheme-secondary.view-mode-grid::before {
    background-color: rgba(240, 158, 17, 0.75); }
.colorscheme-secondary.entity-bundle-stripe h1,
.colorscheme-secondary .field--name-title,
.colorscheme-secondary .font-family--tertiary {
  color: #f09e11; }
.colorscheme-standard.has-field-image {
  font-weight: 400; }
.colorscheme-standard h2 {
  color: #2b3985;
  text-transform: uppercase; }
.colorscheme-tertiary.view-mode-grid {
  color: #fff;
  font-weight: 400; }
  .colorscheme-tertiary.view-mode-grid::before {
    background-color: rgba(176, 41, 71, 0.75); }
.colorscheme-tertiary.entity-bundle-stripe h1,
.colorscheme-tertiary .field--name-title,
.colorscheme-tertiary .font-family--tertiary {
  color: #b02947; }

.columnar {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px; }
  .columnar > * {
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    display: table;
    page-break-inside: avoid; }

.container-priority--low .paragraph--type--heading {
  font-size: .85em; }
.container-priority--high {
  font-size: 1.76em; }
  .container-priority--high > .inner > div,
  .container-priority--high > .inner > blockquote {
    font-size: .5682em; }
  .container-priority--high.has-field-image {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 67vh; }
.container-priority--urgent {
  font-size: 2.632em; }
  .container-priority--urgent > .inner > div,
  .container-priority--urgent > .inner > blockquote {
    font-size: .37994em; }
  .container-priority--urgent.has-field-image {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 67vh; }

.display--block {
  display: block; }
.display--inline {
  display: inline; }
.display--flex {
  /* https://github.com/philipwalton/flexbugs */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  @media all and (max-width: 1023px) {
    .display--flex {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
.display--grid {
  display: grid; }
.display--table {
  display: table; }
.display--inline-block {
  display: inline-block; }

.filter--blur {
  -webkit-filter: blur(10px);
  filter: blur(10px); }
.filter--brightness {
  -webkit-filter: brightness(50%);
  filter: brightness(50%); }
.filter--contrast {
  -webkit-filter: contrast(50%);
  filter: contrast(50%); }
.filter--grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
.filter--invert {
  -webkit-filter: invert(100%);
  filter: invert(100%); }
.filter--saturate {
  -webkit-filter: saturate(50%);
  filter: saturate(50%); }
.filter--sepia {
  -webkit-filter: sepia(50%);
  filter: sepia(50%); }

.flex--auto {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -moz-box-flex: 1;
  -ms-flex: auto;
  flex: auto; }
.flex--initial {
  -webkit-box-flex: initial;
  -webkit-flex: initial;
  -moz-box-flex: initial;
  -ms-flex: initial;
  flex: initial; }
.flex--none {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -moz-box-flex: 0;
  -ms-flex: none;
  flex: none; }
.flex--1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 780px;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }
.flex--2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }
.flex--3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }
.flex--4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }
.flex--5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }
.flex--6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -moz-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }
.flex-direction--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
.flex-direction--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
.flex-direction--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.flex-direction--column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }
.flex-wrap--nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
.flex-wrap--wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.flex-wrap--wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }

.float--left {
  float: left;
  margin: 0 10px 10px 0; }
.float--right {
  float: right;
  margin: 0 0 10px 10px; }

.font-stretch--ultra-condensed {
  font-stretch: ultra-condensed; }
.font-stretch--extra-condensed {
  font-stretch: extra-condensed; }
.font-stretch--condensed {
  font-stretch: condensed; }
.font-stretch--semi-condensed {
  font-stretch: semi-condensed; }
.font-stretch--normal {
  font-stretch: normal; }
.font-stretch--semi-expanded {
  font-stretch: semi-expanded; }
.font-stretch--expanded {
  font-stretch: expanded; }
.font-stretch--extra-expanded {
  font-stretch: extra-expanded; }
.font-stretch--ultra-expanded {
  font-stretch: ultra-expanded; }
.font-style--italic {
  font-style: italic; }
.font-weight--100, .font-weight--lighter {
  font-weight: 100; }
.font-weight--200 {
  font-weight: 100; }
.font-weight--300, .font-weight--light {
  font-weight: 100; }
.font-weight--400, .font-weight--normal {
  font-weight: 100; }
.font-weight--500 {
  font-weight: 100; }
.font-weight--600, .font-weight--bold {
  font-weight: 100; }
.font-weight--700, .font-weight--bolder {
  font-weight: 100; }
.font-weight--800 {
  font-weight: 100; }
.font-weight--900 {
  font-weight: 100; }

.heading--closing-include::after {
  content: "\201D"; }
.heading--opening-include::before {
  content: "\201C"; }

.horizontal-left .entity-bundle-hero {
  max-width: 67vw; }
  @media all and (max-width: 670px) {
    .horizontal-left .entity-bundle-hero {
      max-width: inherit; } }
.horizontal-center .entity-bundle-hero {
  margin: 0 auto;
  max-width: 67vw;
  text-align: center; }
  @media all and (max-width: 670px) {
    .horizontal-center .entity-bundle-hero {
      max-width: inherit; } }
.horizontal-right .entity-bundle-hero {
  float: right;
  max-width: 67vw;
  text-align: center; }
  @media all and (max-width: 670px) {
    .horizontal-right .entity-bundle-hero {
      max-width: inherit; } }

ul.inline li:first-child {
  padding: 0 0.5em 0 0; }

.justify-content--flex-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
.justify-content--flex-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
.justify-content--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.justify-content--dave-matthews {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.justify-content--space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around; }
.justify-content--space-evenly {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly; }
.justify-content--stretch {
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -moz-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch; }

.overflow--visible {
  overflow: visible; }
.overflow--hidden {
  overflow: hidden; }
.overflow--scroll {
  overflow: scroll; }
.overflow--auto {
  overflow: auto; }
.overflow--overlay {
  overflow: auto; }

.pipe-spaced li::after {
  content: '|';
  display: inline-block;
  font-weight: 300;
  opacity: .9;
  padding: 0 10px;
  vertical-align: middle; }
.pipe-spaced li:last-child::after, .pipe-spaced li.last::after {
  display: none; }

.print-break {
  page-break-before: always; }

.position--static {
  position: static; }
.position--relative {
  position: relative; }
.position--absolute {
  position: absolute; }
.position--sticky {
  position: fixed;
  position: -webkit-sticky;
  position: sticky; }
.position--fixed {
  position: fixed; }

.revealOnScroll {
  opacity: 0; }
  .revealOnScroll.animated {
    opacity: 1; }

.submitted {
  color: gray;
  margin: 0 0 20px; }

.text-align--left {
  text-align: left; }
  .text-align--left .paragraph {
    margin: 0 0 20px; }
    .text-align--left .paragraph--type--longtext p {
      margin: 0 0 20px; }
      .text-align--left .paragraph--type--longtext p:last-child {
        margin: 0; }
.text-align--right {
  text-align: right; }
  .text-align--right .paragraph {
    margin: 0 0 20px; }
    .text-align--right .paragraph--type--longtext p {
      margin: 0 0 20px; }
      .text-align--right .paragraph--type--longtext p:last-child {
        margin: 0; }
.text-align--center {
  text-align: center; }
.text-align--justify {
  text-align: justify; }
.text-shadow--big--light {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), 1px -1px 1px rgba(255, 255, 255, 0.5), -1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 1px rgba(255, 255, 255, 0.5); }
.text-shadow--big--dark {
  text-shadow: 1px 1px 1px rgba(64, 64, 64, 0.5), 1px -1px 1px rgba(64, 64, 64, 0.5), -1px 1px 1px rgba(64, 64, 64, 0.5), -1px -1px 1px rgba(64, 64, 64, 0.5); }
.text-shadow--small--light {
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5); }
.text-shadow--small--dark {
  text-shadow: 0 0 2px rgba(64, 64, 64, 0.5); }
.text-transform--uppercase {
  text-transform: uppercase; }
.text-transform--lowercase {
  text-transform: lowercase; }
.text-transform--none {
  text-transform: none; }
.text-transform--capitalize {
  text-transform: capitalize; }

.vertical-align--baseline {
  vertical-align: baseline; }
.vertical-align--sub {
  vertical-align: sub; }
.vertical-align--super {
  vertical-align: super; }
.vertical-align--text-top {
  vertical-align: text-top; }
.vertical-align--text-bottom {
  vertical-align: text-bottom; }
.vertical-align--middle {
  vertical-align: middle; }
.vertical-align--top {
  vertical-align: top; }
.vertical-align--bottom {
  vertical-align: bottom; }
.vertical-spacing-1 {
  padding: 5px 0; }
.vertical-spacing-2 {
  padding: 10px 0; }
.vertical-spacing-4 {
  padding: 20px 0; }
.vertical-spacing-8 {
  padding: 40px 0; }
  @media all and (max-width: 960px) {
    .vertical-spacing-8 {
      padding: 20px 0; } }
.vertical-spacing-16 {
  padding: 80px 0; }
  @media all and (max-width: 960px) {
    .vertical-spacing-16 {
      padding: 40px 0; } }
.vertical-spacing-32 {
  padding: 160px 0; }
  @media all and (max-width: 960px) {
    .vertical-spacing-32 {
      padding: 80px 0; } }

.wrap-loose {
  overflow-wrap: break-word;
  word-wrap: break-word; }
.wrap-none {
  white-space: nowrap; }

/*# sourceMappingURL=base.css.map */
