/**
 * @file
 * Style for accordions.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
details {
  border: 1px solid;
  margin: 10px 0;
  padding: 5px 15px;
  text-align: left; }
  details > summary {
    cursor: pointer;
    padding: 2px 5px; }

/**
 * @file
 * Style for the Card entity type.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.card-text-focal--center > .inner {
  left: 10px;
  right: 10px; }
.card-text-focal--left > .inner {
  left: 10px;
  right: 35%; }
  @media all and (max-width: 1440px) {
    .card-text-focal--left > .inner {
      right: 10px; } }
.card-text-focal--right > .inner {
  left: 35%;
  right: 10px; }
  @media all and (max-width: 1440px) {
    .card-text-focal--right > .inner {
      left: 10px; } }

/**
 * @file
 * Style for entities in general.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.entity-bundle-double-card {
  max-width: inherit;
  padding: 80px 80px 120px; }
  .entity-bundle-double-card > .inner {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    padding: 20px 20px; }
  @media all and (max-width: 1439px) {
    .entity-bundle-double-card {
      padding: 40px 40px 80px; } }
  @media all and (max-width: 450px) {
    .entity-bundle-double-card {
      padding: 20px 20px 60px; } }
.entity-bundle-hero h3 {
  font-size: 28px;
  letter-spacing: 0.4em;
  margin: 0 0 40px; }
  @media all and (max-width: 1000px) {
    .entity-bundle-hero h3 {
      font-size: 22px; } }
@media all and (max-width: 550px) {
  .entity-bundle-row {
    display: block; } }
.entity-bundle-swoosh {
  bottom: -75px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 2; }
  .entity-bundle-swoosh img {
    height: inherit !important;
    max-height: 369px;
    width: 100vw; }
.entity-type-card {
  margin: 0 20px 20px 0;
  max-width: 300px;
  min-width: 200px; }
  @media all and (max-width: 1023px), all and (-ms-high-contrast: active), all and (-ms-high-contrast: none) {
    .entity-type-card {
      -webkit-flex-basis: 250px;
      -ms-flex-preferred-size: 250px;
      flex-basis: 250px; } }
  @media all and (max-width: 700px) {
    .entity-type-card {
      margin-bottom: 60px; } }
  .entity-type-card.view-mode-default.entity-bundle-double-card {
    max-width: 500px; }
  .entity-type-card.view-mode-default > a:last-child {
    flex-basis: 2em;
    margin: auto 0 0; }
  .entity-type-card.view-mode-default > h2 {
    flex-basis: 2em; }
  .entity-type-card.view-mode-default > img {
    flex-basis: 70px; }
  .entity-type-card.view-mode-grid {
    line-height: 1.2;
    margin: 0;
    max-width: 25%;
    position: relative; }
    .entity-type-card.view-mode-grid::before {
      bottom: 0;
      content: '';
      display: inline-block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0; }
    .entity-type-card.view-mode-grid > img {
      margin: 0 auto; }
    .entity-type-card.view-mode-grid > .inner {
      bottom: 0;
      overflow: hidden;
      position: absolute;
      top: 0; }
    @media all and (max-width: 1440px) {
      .entity-type-card.view-mode-grid {
        font-size: .9em; } }
    @media all and (max-width: 1200px) {
      .entity-type-card.view-mode-grid {
        font-size: .6em; } }
    @media all and (max-width: 860px) {
      .entity-type-card.view-mode-grid {
        max-width: 300px; } }
  .entity-type-card.view-mode-small {
    font-size: 0.8em; }
    .entity-type-card.view-mode-small > h2 {
      font-weight: bold; }
  .entity-type-card.view-mode-stat {
    max-width: inherit; }
    .entity-type-card.view-mode-stat > p {
      font-weight: 400; }
    .entity-type-card.view-mode-stat .field--name-title {
      font-size: 3vw;
      margin: 0; }
      @media all and (max-width: 1130px) {
        .entity-type-card.view-mode-stat .field--name-title {
          font-size: 2.75em; } }
      @media all and (max-width: 615px) {
        .entity-type-card.view-mode-stat .field--name-title {
          font-size: 1.85em; } }
  .entity-type-card > a,
  .entity-type-card > .inner > a {
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
    .entity-type-card > a > img,
    .entity-type-card > .inner > a > img {
      margin: 0 auto 20px; }
  .entity-type-card > img,
  .entity-type-card > .inner > img {
    margin: 0 auto 20px; }

.has-field-swoosh {
  padding-bottom: 75px;
  position: relative; }
  .has-field-swoosh + div {
    padding-top: 75px; }

.node--type-news.node--view-mode-teaser, .node--type-press-release.node--view-mode-teaser {
  border-top: 1px solid #9c9c9c;
  margin: 20px 0 0;
  text-align: left; }
  .node--type-news.node--view-mode-teaser .news--field-image, .node--type-press-release.node--view-mode-teaser .news--field-image {
    margin: 0 0 0 40px;
    min-height: 215px;
    width: 325px; }
  .node--type-news.node--view-mode-teaser .node__content, .node--type-press-release.node--view-mode-teaser .node__content {
    padding: 20px 0; }
  .node--type-news.node--view-mode-teaser.node--sticky .news--field-image, .node--type-press-release.node--view-mode-teaser.node--sticky .news--field-image {
    margin: 0 40px 0 0;
    max-width: 600px;
    width: inherit; }
.node--type-news.node--view-mode-full .field--name-body, .node--type-press-release.node--view-mode-full .field--name-body {
  font-size: 1.5em;
  margin: 0 0 40px; }
.node--type-news.node--view-mode-full .node__content, .node--type-press-release.node--view-mode-full .node__content {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 0 80px; }
.node--type-news paragraph--type--heading,
.node--type-news .paragraph--type--longtext, .node--type-press-release paragraph--type--heading,
.node--type-press-release .paragraph--type--longtext {
  text-align: left; }

.node__links {
  margin: 20px 0 0; }

.paragraph {
  margin: 0 auto 20px;
  position: relative;
  z-index: 3; }
  .paragraph:last-child {
    margin: 0; }
  .paragraph--type--attribution {
    font-size: 18px;
    font-weight: 400; }
  .paragraph--type--cards {
    margin: 0 auto; }
    .paragraph--type--cards.child-display-mode--default {
      margin-right: -20px;
      max-width: 1440px; }
    .paragraph--type--cards.child-display-mode--grid {
      margin: -17px 0 0;
      z-index: 0; }
    .paragraph--type--cards.child-display-mode--small {
      margin-right: -20px; }
    .paragraph--type--cards.child-display-mode--stat {
      margin-right: -20px; }
  .paragraph--type--link {
    margin: 0; }
  .paragraph--type--longtext p {
    margin: 0 auto 20px; }
    .paragraph--type--longtext p:last-child {
      margin: 0 auto; }
  .paragraph--type--longtext ul {
    list-style: url("../images/bullet.svg");
    margin: 0 0 20px;
    padding: 0 0 0 .9em; }
    .paragraph--type--longtext ul:last-child {
      margin: 0; }
  .paragraph--type--quote p {
    margin: 0 auto 20px; }
    .paragraph--type--quote p:last-child {
      margin: 0 auto; }
  .paragraph--type--spacer {
    margin: 0; }

/**
 * @file
 * Style for sticky headers at the top of pages.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.headroom {
  left: 0;
  position: fixed;
  right: 0;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  transition: all .3s ease-in;
  will-change: transform;
  z-index: 100; }
  .headroom--not-top:not(.headroom--unpinned) {
    background-color: rgba(43, 57, 133, 0.95);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  .headroom--not-top:not(.headroom--pinned) {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  .headroom--pinned {
    background-color: rgba(43, 57, 133, 0.95);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  .headroom--top {
    background-color: transparent; }
  .headroom--unpinned {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }

/**
 * @file
 * Style for heroes at the top of pages.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.hero-priority--low {
  min-height: 45vh; }
  .hero-priority--low .region-splash {
    font-size: 1.86vw; }
    @media all and (max-width: 1000px) {
      .hero-priority--low .region-splash {
        font-size: 1em; } }
  @media all and (max-width: 960px) {
    .hero-priority--low {
      min-height: inherit; } }

.splash-header {
  background-color: #404040;
  color: #fff;
  font-weight: 400;
  min-height: 57vh;
  padding: 0 0 120px; }
  .splash-header::after {
    clear: both;
    content: '';
    display: table; }
  .splash-header.colorscheme-primary {
    background-color: #0c1127; }
  .splash-header.colorscheme-secondary {
    background-color: #301f03; }
  .splash-header.colorscheme-tertiary {
    background-color: #290a11; }
  .splash-header h1 {
    font-size: 1.292em;
    font-weight: 700; }
  .splash-header .region-splash {
    font-size: 3.55vw; }
    .splash-header .region-splash p {
      font-size: 24px; }
    @media all and (max-width: 1000px) {
      .splash-header .region-splash {
        font-size: 1em; }
        .splash-header .region-splash p {
          font-size: 20px; } }
  .splash-header:not(.has-field-image) {
    min-height: inherit; }
  @media all and (max-width: 960px) {
    .splash-header {
      min-height: inherit; } }

/**
 * @file
 * Style for hubspot form embeds.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
@media all and (min-width: 670px) {
  .hs-form input:not([type]),
  .hs-form input[type="email"],
  .hs-form input[type="number"],
  .hs-form input[type="password"],
  .hs-form input[type="tel"],
  .hs-form input[type="url"],
  .hs-form input[type="text"] {
    width: 95%; } }
.hs-form ul {
  list-style: none; }
.hs-form .clearfix,
.hs-form .field,
.hs-form .hs-form-field {
  margin-bottom: 20px; }
.hs-form .hsErrMsgContainer ul {
  color: #7c1d32; }
.hs-input:-moz-placeholder {
  color: #bfbfbf; }
.hs-input::-webkit-input-placeholder {
  color: #bfbfbf; }

input.hs-input.error,
.hs-form div.field.error input,
.hs-form div.field.error textarea,
.hs-form div.field.error .chzn-choices,
textarea.hs-input.error {
  border-color: #b02947; }

input.hs-input.error:focus,
.hs-form div.field.error input:focus,
.hs-form div.field.error textarea:focus,
.hs-form div.field.error .chzn-choices:focus,
textarea.hs-input.error:focus {
  border-color: #e28398; }

.help-block {
  color: #4d4d4d;
  display: block;
  max-width: 600px; }
.help-inline {
  color: #4d4d4d;
  padding-left: 5px; }

.hsformerror {
  background-color: #f5d6dd;
  border: 1px solid #7c1d32;
  display: none;
  height: auto;
  z-index: 99; }
  .hsformerror .close-form-error {
    float: right;
    display: inline; }

.inline-inputs span,
.inline-inputs input {
  display: inline-block; }

/**
 * @file
 * Menu component.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.compro-hamburger-panel {
  display: none;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -moz-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  text-align: left; }
  .compro-hamburger-panel > .content {
    display: none; }
  .compro-hamburger-panel.open {
    background-color: rgba(37, 50, 116, 0.9);
    color: #fff;
    margin-left: -185px;
    padding: 0 0 16px 20px; }
    .compro-hamburger-panel.open > .content {
      display: block; }
    .compro-hamburger-panel.open a:link,
    .compro-hamburger-panel.open a:visited {
      color: inherit; }
  @media all and (max-width: 1225px) {
    .compro-hamburger-panel {
      display: block; } }

.compro-superfish li.menu-item--expanded {
  position: relative; }
  .compro-superfish li.menu-item--expanded > ul {
    background-color: rgba(176, 41, 71, 0.95);
    display: none;
    left: 0;
    min-width: 14em;
    position: absolute;
    text-align: left;
    top: 70%;
    z-index: 99; }
    .compro-superfish li.menu-item--expanded > ul a {
      border-bottom: 1px solid;
      display: block;
      padding: 16px 32px; }
      .compro-superfish li.menu-item--expanded > ul a:last-child {
        border-bottom: 0 none; }
  .compro-superfish li.menu-item--expanded:hover > ul, .compro-superfish li.menu-item--expanded.sfHover > ul {
    display: block; }

.hamburger {
  float: right;
  padding: 16px 20px 10px; }
  .hamburger:focus {
    outline: 0 none; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }

ul.menu {
  list-style: none outside;
  padding: 0; }
  ul.menu a[href*="tel:"] {
    cursor: text; }
    ul.menu a[href*="tel:"]:hover {
      text-decoration: none; }
  ul.menu a:active,
  ul.menu a.is-active,
  ul.menu .menu-item--active-trail a {
    font-weight: 700; }
  ul.menu > li {
    display: inline-block; }
    ul.menu > li > a {
      display: inline-block;
      padding: 16px 30px 16px 0px;
      text-decoration: none; }
      ul.menu > li > a:hover {
        text-decoration: underline; }
      ul.menu > li > a.cta--in-menu {
        background-color: #f09e11;
        font-weight: 600;
        padding: 16px 40px; }
        ul.menu > li > a.cta--in-menu:hover {
          background-color: #905e09; }
        @media all and (max-width: 780px) {
          ul.menu > li > a.cta--in-menu {
            padding: 16px; } }
      ul.menu > li > a.divider-left {
        border-left: 1px solid #fff;
        padding-left: 30px; }
        @media all and (max-width: 1330px) {
          ul.menu > li > a.divider-left {
            padding-left: 16px; } }
        @media all and (max-width: 1130px) {
          ul.menu > li > a.divider-left {
            border-left: 0 none;
            padding: 16px; }
            ul.menu > li > a.divider-left::before {
              clear: both;
              content: '';
              display: table; } }

.menu--main .menu > li > a {
  padding: 16px 30px 16px 0px; }
  @media all and (max-width: 1330px) {
    .menu--main .menu > li > a {
      padding: 16px 16px 16px 0px; } }
  @media all and (max-width: 1130px) {
    .menu--main .menu > li > a {
      display: block;
      padding: 16px; } }
@media all and (max-width: 1130px) {
  .menu--main .menu > li {
    display: block; } }
.menu--utility .menu > li > a {
  padding: 16px 30px 16px 0px; }
  @media all and (max-width: 780px) {
    .menu--utility .menu > li > a {
      padding: 16px; } }
@media all and (max-width: 780px) {
  .menu--utility {
    font-size: .75em; } }

.sf-arrows .sf-with-ul::after {
  border: 5px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.8);
  content: '';
  display: inline-block;
  height: 0;
  margin: -4px 0 0 5px;
  position: absolute;
  top: 50%;
  width: 0; }
.sf-arrows .sfHover .sf-with-ul::after {
  margin-top: -.6em;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.utility-and-nav {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase; }
  .utility-and-nav a:link,
  .utility-and-nav a:visited {
    color: inherit; }
  .utility-and-nav .inner {
    max-width: inherit; }
  @media all and (max-width: 1225px) {
    .utility-and-nav.js-hamburgered {
      display: none; } }

/**
 * @file
 * Message component.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.messages {
  font-style: italic;
  margin: 10px 0;
  padding: 10px; }
  .messages--error {
    background: #f5d6dd;
    color: #290a11; }
  .messages--status {
    background: #d3f8f0;
    color: #072c24; }
  .messages--warning {
    background: #fcebcf;
    color: #301f03; }

/**
 * @file
 * Style for pagers.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.pager {
  font-weight: 600;
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase; }
  .pager li {
    line-height: 1; }
    .pager li > a,
    .pager li > span {
      border: 2px solid transparent;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      color: #2b3985;
      display: inline-block;
      font-size: 0.7em;
      padding: 5px 9px;
      text-decoration: none; }
    .pager li > a:hover {
      border-color: #f09e11; }
    .pager li.pager-current > span,
    .pager li.pager-current > a, .pager li.is-active > span,
    .pager li.is-active > a {
      border-color: #f09e11; }
    .pager li.pager__item--previous {
      border-right: 1px solid #cfcfcf;
      margin-right: 4px;
      padding-right: 16px; }
    .pager li.pager__item--next {
      border-left: 1px solid #cfcfcf;
      margin-left: 4px;
      padding-left: 16px; }
  .pager ul {
    display: inline-block;
    margin: 0;
    padding: 0; }
    .pager ul > li {
      display: inline-block;
      margin: 0; }

/**
 * @file
 * Style for regions (non-layout).
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.region-footer {
  background-color: #2b3985;
  border-top: 6px solid #fff;
  color: #fff;
  font-size: 0.6em; }
  .region-footer > .inner {
    padding: 40px 20px 10px; }
  .region-footer a:link, .region-footer a:visited {
    color: inherit; }
  .region-footer .contact-info-address span {
    display: inline-block; }
    .region-footer .contact-info-address span[itemprop="streetAddress"] {
      display: block; }
  .region-footer ul.menu > li > a {
    padding: 0; }
  .region-footer .muted {
    color: #b2bae6;
    font-size: 0.8em; }
  .region-footer .text-transform--uppercase {
    font-weight: 400; }
  @media all and (max-width: 700px) {
    .region-footer .float--left,
    .region-footer .float--right {
      float: none;
      margin: 0 0 20px; } }
.region-nav {
  border-top: 1px solid #fff; }

/**
 * @file
 * Style for the skip link.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.skip-hide {
  background: #32429a;
  position: relative;
  text-align: center; }
  .skip-hide a {
    color: #fffdfa;
    display: block;
    height: 1px;
    left: -10000px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    top: auto;
    width: 1px; }
    .skip-hide a:focus {
      height: auto;
      outline: 0 none;
      position: static;
      width: auto; }

/**
 * @file
 * Slick slideshows.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.slick-arrow {
  background-color: transparent;
  bottom: 50%;
  color: transparent;
  font-size: 0;
  font-weight: 600;
  margin: 0 0 -30px;
  padding: 10px;
  position: absolute;
  transform: scale(0.7, 1);
  z-index: 4; }
  .slick-arrow::after {
    content: '\25B7';
    color: #fff;
    font-size: 60px; }
  .slick-arrow:hover {
    background-color: transparent; }
    .slick-arrow:hover::after {
      color: #f09e11; }
  @media all and (max-width: 1060px) {
    .slick-arrow {
      opacity: 0.5; } }
.slick-initialized .slick-slide.display--flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: auto; }
.slick-initialized .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
.slick-next {
  right: -20px; }
.slick-prev {
  left: -20px; }
  .slick-prev::after {
    content: '\25C1'; }

/**
 * @file
 * Style for tabs.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
ul.tabs {
  border-bottom: 1px solid;
  border-color: #ccc;
  list-style: none;
  margin: 20px 0;
  overflow: hidden;
  padding: 0 0 0 1em; }
  ul.tabs > li {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 0;
    display: block;
    float: left;
    margin: 0 1em 0 0; }
    ul.tabs > li > a {
      color: #024;
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      -moz-transition: background-color 0.3s ease-out;
      -o-transition: background-color 0.3s ease-out;
      -webkit-transition: background-color 0.3s ease-out;
      transition: background-color 0.3s ease-out; }
      ul.tabs > li > a:hover {
        background: #0ae;
        color: #fff; }
      ul.tabs > li > a.active {
        background: #079ac4;
        color: #fff; }

@media all and (max-width: 550px) {
  ul.tabs {
    border: 1px solid #ccc;
    font-size: 0.8em;
    padding: 0; }
    ul.tabs > li {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border-width: 0 0 1px;
      float: none;
      margin: 0; }
      ul.tabs > li:last-child {
        border-width: 0; }
      ul.tabs > li > a {
        display: block; } }
/**
 * @file
 * Style for views directly.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Main settings. */
/* Stateful colors. */
/* Utility colors.
 * The trailing number is luminosity: 1 is darkest, 99 is lightest.
 * Rather than match hex codes from the comps exactly, just use the closest one of these.
 */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.view-location .view-content > h3 {
  border-top: 1px solid #cccccc;
  margin: 20px 0 0;
  padding: 20px 0;
  text-align: left;
  width: 100%; }
  .view-location .view-content > h3:first-of-type {
    border-top: 0 none; }
.view-location .view-content .views-row {
  font-size: 0.8em;
  margin: 0 20px 40px 0;
  max-width: 300px;
  min-width: 200px;
  text-align: left; }
  @media all and (max-width: 1023px) {
    .view-location .view-content .views-row {
      -webkit-flex-basis: 250px;
      -ms-flex-preferred-size: 250px;
      flex-basis: 250px; } }
  .view-location .view-content .views-row h3 {
    font-weight: 600; }
.view-taxonomy-term {
  margin: 10px auto;
  max-width: 1440px; }

.viewsreference--view-title {
  border-bottom: 1px solid #cccccc;
  color: #2b3985;
  font-weight: 400;
  margin: 20px 0 20px;
  padding: 10px 0;
  text-align: left;
  text-transform: uppercase; }

/*# sourceMappingURL=components.css.map */
