/**
 * @file
 * Utility and other generalized classes, in alphabetical order.
 */
@import "variables";

.background {
  &-color {
    &--black {
      background-color: $color-black;
    }

    &--darkblue {
      background-color: $color-darkblue;
    }

    &--darkteal {
      background-color: $color-darkteal;
    }

    &--lightblue {
      background-color: $color-lightblue;
    }

    &--lightgray {
      background-color: $color-lightgray;
    }

    &--lightteal {
      background-color: $color-lightteal;
    }

    &--mediumgray {
      background-color: $color-mediumgray;
    }

    &--mediumteal {
      background-color: $color-mediumteal;
    }

    &--orange {
      background-color: $color-orange;
    }

    &--superlightgray {
      background-color: $color-superlightgray;
    }

    &--white {
      background-color: $color-white;
    }

    &--yellow {
      background-color: $color-yellow;
    }
  }

  &-image {
    &-display-mobile {
      &--hide {
        @media all and (max-width: $tablet-break) {
          background-image: none;
        }
      }
    }
  }
}

@media (max-width: $tablet-break) {
  .has-field-image-background:not(.has-field-video-background) {
    position: relative;
    &:before {
      background-color: rgba(255,255,255,.9);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }
    & > * {
      z-index: 1;
      position: relative;
    }
  }
}

.blockquote {
  &--closing {
    &-include {
      p:last-child::after {
        content: "\201D";
      }
    }
  }

  &--opening {
    &-include {
      p:first-child::before {
        content: "\201C";
      }
    }
  }
}

blockquote {
  font-style: italic;

  & + div {

    .field-name--field-text {
      color: $color-lightteal;
      font-weight: 600;
    }
    & + div {
      .field-name--field-text {
        color: $color-white;
      }
    }
  }
}

.border {
  &-bottom {
    &--1px-solid {
      &-mediumgray {
        border-bottom: 1px solid $color-mediumgray;
      }
    }
  }
}

.color {
  &--black {
    color: $color-black;
  }

  &--darkblue {
    color: $color-darkblue;
  }

  &--darkteal {
    color: $color-darkteal;
  }

  &--light-blue,
  &--lightblue {
    color: $color-lightblue;
  }

  &--lightgray {
    color: $color-lightgray;
  }

  &--lightteal {
    color: $color-lightteal;
  }

  &--mediumgray {
    color: $color-mediumgray;
  }

  &--mediumteal {
    color: $color-mediumteal;
  }

  &--orange {
    color: $color-orange;
  }

  &--superlightgray {
    color: $color-superlightgray;
  }

  &--white {
    color: $color-white;
  }

  &--yellow {
    color: $color-yellow;
  }
}

.child {
  &-color {
    &--black {
      .entity-bundle-heading.entity-bundle-heading,
      .entity-bundle-text,
      .entity-bundle-list.list-style-type--fa-check-circle > li:before {
        color: $color-black;
      }
    }

    &--darkblue {
      .entity-bundle-heading.entity-bundle-heading,
      .entity-bundle-text,
      .entity-bundle-list.list-style-type--fa-check-circle > li:before {
        color: $color-darkblue;
      }
    }

    &--darkteal {
      .entity-bundle-heading.entity-bundle-heading,
      .entity-bundle-text,
      .entity-bundle-list.list-style-type--fa-check-circle > li:before {
        color: $color-darkteal;
      }
    }

    &--light-blue,
    &--lightblue {
      .entity-bundle-heading.entity-bundle-heading,
      .entity-bundle-text,
      .entity-bundle-list.list-style-type--fa-check-circle > li:before {
        color: $color-lightblue;
      }
    }

    &--lightgray {
      .entity-bundle-heading.entity-bundle-heading,
      .entity-bundle-text,
      .entity-bundle-list.list-style-type--fa-check-circle > li:before {
        color: $color-lightgray;
      }
    }

    &--lightteal {
      .entity-bundle-heading.entity-bundle-heading,
      .entity-bundle-text,
      .entity-bundle-list.list-style-type--fa-check-circle > li:before {
        color: $color-lightteal;
      }
    }

    &--mediumgray {
      .entity-bundle-heading.entity-bundle-heading,
      .entity-bundle-text,
      .entity-bundle-list.list-style-type--fa-check-circle > li:before {
        color: $color-mediumgray;
      }
    }

    &--mediumteal {
      .entity-bundle-heading.entity-bundle-heading,
      .entity-bundle-text,
      .entity-bundle-list.list-style-type--fa-check-circle > li:before {
        color: $color-mediumteal;
      }
    }

    &--orange {
      .entity-bundle-heading.entity-bundle-heading,
      .entity-bundle-text,
      .entity-bundle-list.list-style-type--fa-check-circle > li:before {
        color: $color-orange;
      }
    }

    &--scarlet {
      .entity-bundle-heading.entity-bundle-heading,
      .entity-bundle-text,
      .entity-bundle-list.list-style-type--fa-check-circle > li:before {
        color: $color-scarlet;
      }
    }

    &--superlightgray {
      .entity-bundle-heading.entity-bundle-heading,
      .entity-bundle-text,
      .entity-bundle-list.list-style-type--fa-check-circle > li:before {
        color: $color-superlightgray;
      }
    }

    &--white {
      .entity-bundle-heading.entity-bundle-heading,
      .entity-bundle-text,
      .entity-bundle-list.list-style-type--fa-check-circle > li:before {
        color: $color-white;
      }
    }

    &--yellow {
      .entity-bundle-heading.entity-bundle-heading,
      .entity-bundle-text,
      .entity-bundle-list.list-style-type--fa-check-circle > li:before {
        color: $color-yellow;
      }
    }
  }

  /* Note: this contains front-page-grid-specific styling. */
  &-inner-max-width {
    &--inherit {
      &.entity-bundle-stripe > .inner {
        max-width: inherit;

        .flex--1 {
          height: 50vh;
          max-width: inherit;
          min-height: 380px;
          height: 50vh;

          > * {
            margin: 0 auto;
            max-width: 500px;
          }
        }
      }
    }
  }

  &-max-width {
    &--320px {
      > * {
        max-width: 320px;
      }
    }

    &--360px {
      > * {
        max-width: 360px;
      }
    }
  }
}

.columnar {
  -moz-column-count: $columns;
  -webkit-column-count: $columns;
  column-count: $columns;
  -moz-column-gap: spx(2);
  -webkit-column-gap: spx(2);
  column-gap: spx(2);

  > * {
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    display: table;
    page-break-inside: avoid;
  }
}

.compro-globalStyling {
  /**
   * Right now just negative to the top, but ideally would work top and bottom
   * of a section.
   */
  &--encroach {
    margin-bottom: -70px !important; /* This is specific to the homepage */
    overflow: visible;
    position: relative;
    transform: translate(0, -50%);
    z-index: 4;
  }
}

.display {
  &--flex {
    @media all and (max-width: 1023px) {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
}

.heading {
  &--h1 {
    font-size: 3.4em;
  }

  &--h2 {
    font-size: 3.4em;
  }

  &--h3 {
    font-size: 1.225em;
  }

  &--h4 {
    font-size: 1.125em;
  }

  &--h5 {
    font-size: 1em;
  }

  &--h6 {
    font-size: 0.9em;
  }
}

ul.inline {
  li {
    &:first-child {
      padding: 0 0.5em 0 0;
    }
  }
}

.js {
  .revealOnScroll {
    opacity: 0;

    &.animated {
      opacity: 1;
      animation-duration: 2s;

      @media all and (max-width: $mobile-break) {
        animation-duration: 0s;
        animation-name: none;
      }
    }
  }
}

.menu-icon {
  &::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 1rem;
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
    fill: #fff;
  }

  &.icon {
    &--valence-portal {
      &::before {
        background-image: url('../images/menu-icon--laptop.svg');
      }

      &:hover::before {
        background-image: url('../images/menu-icon--laptop-yellow.svg');
      }
    }

    &--lowcode-app-builder {
      &::before {
        background-image: url('../images/menu-icon--desktop.svg');
      }

      &:hover::before {
        background-image: url('../images/menu-icon--desktop-yellow.svg');
      }
    }

    &--developer-toolkit {
      &::before {
        background-image: url('../images/menu-icon--toolkit.svg');
      }

      &:hover::before {
        background-image: url('../images/menu-icon--toolkit-yellow.svg');
      }
    }

    &--valence-utilities {
      &::before {
        background-image: url('../images/menu-icon--utilities.svg');
      }

      &:hover::before {
        background-image: url('../images/menu-icon--utilities-yellow.svg');
      }
    }
  }
}

[class*='logo--'] {
  background-position: center right;
  //background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 106px;
  padding-right: 117px;

  /* Vertically center headings with icons */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @media all and (max-width: $mobile-break) {
    padding-right: 0;
  }
}
@media all and (min-width: 1100px) {
.logo {
    &--autocode {
      background-image: url('../images/logo--autocode.png');
    }

    &--file-editor {
      background-image: url('../images/logo--file-editor.png');
    }

    &--iadmin {
      background-image: url('../images/logo--iadmin.png');
    }

    &--nitro {
      background-image: url('../images/logo--nitro.png');
    }

    &--query-runner {
      background-image: url('../images/logo--runner.png');
    }

    &--source-editor {
      background-image: url('../images/logo--source-editor.png');
    }

    &--universal {
      background-image: url('../images/logo--universal.png');
    }

    &--valence {
      background-image: url('../images/logo--valence.png');
    }
  }
}

/* Padding classes. */
.padding {
  /* Unpad an element that otherwise inherits it
     from an earlier class or lesser selector. */
  &--0 {
    padding: 0;

    &.entity-type-section {
      padding: 0;
    }
  }
}

.paragraph--indented {
  margin-left: spx(2);
}

.pipe-spaced {
  li {
    &::after {
      content: '|';
      display: inline-block;
      font-weight: 300;
      opacity: .9;
      padding: 0 spx(1);
      vertical-align: middle;
    }

    &:last-child,
    &.last {
      &::after {
        display: none;
      }
    }
  }
}

.print-break {
  page-break-before: always;
}

.rollover {
  padding: 0;
  position: relative;

  &--hover {
    background-color: rgba(56, 109, 132, 0.9);
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    padding: 0 spx(1);
    position: absolute;
    right: 0;
    top: 100%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  &:hover {
    .rollover--hover {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      top: 0;
    }
  }
}

.responsive-table-wrapper,
.view-content.table--zebra-rows {
  overflow-x: auto;

  @media all and (max-width: 767px) {
    overflow-x: scroll;
  }
}

.submitted {
  color: $color-text-medium;
  margin: 0 0 spx(2);
}

.table{
  &--compare-editions {
    td,th {
      max-width: 260px;
    }

    th {
      img {
        margin: 0 auto spx(1);
      }
    }
  }
}

.text-align {
  &--center {
    figure {
      margin: 0 auto;
      text-align: center;
    }

    img {
      margin: 0 auto;
    }

    > .inner > * {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.vertical {
  &-spacing {
    &-1 {
      padding: spx(.5) 0;
    }

    &-2 {
      padding: spx(1) 0;
    }

    &-4 {
      padding: spx(2) 0;
    }

    &-8 {
      padding: spx(4) 0;

      @media all and (max-width: 960px) {
        padding: spx(2) 0;
      }
    }

    &-16 {
      padding: spx(8) 0;

      @media all and (max-width: 960px) {
        padding: spx(4) 0;
      }
    }

    &-32 {
      padding: spx(16) 0;

      @media all and (max-width: 960px) {
        padding: spx(8) 0;
      }
    }
  }
}


.text-align--center .entity-bundle-rich-text p {
  margin-left: auto;
  margin-right: auto;
}
