/**
 * @file
 * HTML elements and base-level tags.
 */
@import "variables";

// HTML5 for old browsers.
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]),
[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

body {
  background: $color-bg;
  color: $color-text;
  font-size: 14px;
  font-weight: 300;
  height: 100%;
  line-height: 1.4;
  margin: 0;
}

/* Links. */
a {
  &:link {
    color: $color-sec;
    text-decoration: none;
    font-weight: 600;
  }

  &:visited {
    color: $color-sec-medium;
  }

  &:hover {
    color: $color-sec-dark;
  }

  &:active {
    color: $color-sec-dark;
  }

  &:focus {
    outline: 0 none;
    -webkit-text-decoration: underline dotted;
    -moz-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }
}

/* Lists. */
ul,
ol {
  margin: 0;
  padding: 0;

  ul {
    padding: 0 0 0 1.2em;
  }
}

dd {
  margin: 0 0 0 40px;
}

dfn {
  font-style: italic;
}

/* Headings */
h1 {
  font-size: 3.4em;
  font-weight: 300;
  line-height: $line-height-heading;
  margin: 0 0 spx(1) 0;
  overflow-wrap: break-word;
  word-wrap: break-word;

  @media all and (max-width: $mobile-break) {
    font-size: 2.5em;
  }

  > a {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: inherit;
    }
  }

  + h2 {
    margin-top: 0;
  }
  &.page-title {
    color: $color-prim;
  }
}

h2 {
  font-size: 3.4em;
  font-weight: 300;
  line-height: $line-height-heading;
  margin: 0 0 $spacing-base;
  overflow-wrap: break-word;
  word-wrap: break-word;

  @media all and (max-width: $mobile-break) {
    font-size: 2.5em;
  }

  > a {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: inherit;
    }
  }

  &:first-child,
  + h3 {
    margin-top: 0;
  }
}

h3 {
  font-size: 1.225em;
  font-weight: bold;
  line-height: $line-height-heading;
  margin: $spacing-base*3 0 $spacing-base;
  overflow-wrap: break-word;
  word-wrap: break-word;

  > a {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: inherit;
    }
  }

  &:first-child,
  + h4 {
    margin-top: 0;
  }
}

h4 {
  font-size: 1.125em;
  font-weight: normal;
  line-height: $line-height-heading;
  margin: 1.33em 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-weight: 500;

  > a {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: inherit;
    }
  }

  &:first-child,
  + h5 {
    margin-top: 0;
  }
}

h5 {
  border-bottom: 1px solid;
  font-size: 1em;
  font-weight: normal;
  line-height: $line-height-heading;
  margin: 1.67em 0;

  > a {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: inherit;
    }
  }

  &:first-child,
  + h6 {
    margin-top: 0;
  }
}

h6 {
  font-size: 0.9em;
  font-weight: normal;
  line-height: $line-height-heading;
  margin: 2.33em 0;

  > a {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: inherit;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

/* Other */
abbr {
  &[title] {
    border-bottom: 1px dotted;
    cursor: help;
    white-space: nowrap;
  }

  &.tabledrag-changed,
  &.ajax-changed {
    border-bottom: none;
  }
}

address {
  font-style: normal;
  text-align: left;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  font-size: 1.4em;
  margin: 0 auto spx(2);

  @media all and (max-width: 960px) {
    font-size: 1.25em;
  }
}

audio,
embed,
iframe,
img,
object,
picture,
svg,
video {
  max-width: 100%;
}

iframe {
  border: 1px solid $color-bg-medium;

  .js--iframe-resize & {
    border-color: transparent;
  }
}

img {
  border: 0;
  display: block;
  height: auto !important;
  -ms-interpolation-mode: bicubic;
  line-height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figcaption {
  color: $color-text-dark;
  font-size: .75em;
}

figure {
  display: inline-block;
  min-width: 150px;
  margin: 0;
  max-width: 100%;
}

hr {
  background-color: $color-text-dark;
  border-width: 0;
  color: $color-text-dark;
  height: 1px;
  line-height: 0;
  margin: 50px 0;
}

mark {
  color: $color-sec-medium;
}

p {
  margin: spx(0) spx(0) spx(1);
  max-width: 70ch;
  overflow-wrap: break-word;
  word-wrap: break-word;

  &:last-child {
    margin-bottom: 0;
  }
  .text-align--center & {
    margin-left: auto;
    margin-right: auto;
  }
}

pre,
code,
kbd,
samp {
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;

  &::before,
  &::after {
    content: "";
  }
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

video {
  height: auto;
}

/* Table */
table {
  background: transparent;
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

caption {
  font-size: 0.75em;
  text-align: left;
}

thead {
  color: $color-bg;

  a,
  a:link,
  a:visited {
    color: $color-bg;
  }
}

tr {
  border-bottom: 1px solid #d7d7d7;
  height: 50px;

  &:last-child {
    border: none;
  }

  &.even {
    background: $color-bg-light;

    > td:nth-child(2) {
      background: $color-bg-light;
    }
  }
}

td,
th {
  border-left: 0 none;
  font-weight: normal;
  padding: 0.5em 1em;

  &:first-child {
    border-left: 0 none;
  }
  &:nth-child(2),
  &:nth-child(4) {
    background: $color-bg;
  }
  i.fa-check-circle:before {
    font-size: 26px;
  }
}
th {
  padding-bottom:spx(3);
  text-align: center;

  p {
    color: $color-mediumgray;
  }

  &:first-child {
    text-align: left;
    h2 {
      font-weight: 300;
      font-size: 36px;
      margin-bottom: spx(4);
    }
  }
}
td {
  text-align: center;
  font-weight: 400;

  &:first-child {
    text-align: left;
    font-weight: 500;
  }
}
