/**
 * @file
 * Component and class-level styles.
 */

/**
 * Background-color classes for the settings dropdowns. Add here as needed.
 */
.background-color--black {
  background-color: #222;
}
.background-color--grey-dark {
  background-color: #444;
}
.background-color--grey {
  background-color: #999;
}
.background-color--grey-light {
  background-color: #f5f5f5;
}
.background-color--white {
  background-color: #fff;
}
.background-color--main,
.background-color--blue {
  background-color: #1a428a;
}
.background-color--main-dark,
.background-color--blue-dark {
  background-color: #0a1a37;
}
.background-color--main-light,
.background-color--blue-light {
  background-color: #a3b3d0;
}
.background-color--second {
  background-color: #009abf;
}
.background-color--second-dark {
  background-color: #003e4c;
}
.background-color--second-light {
  background-color: #99d7e5 ;
}
.background-color--third {
  background-color: #f0ad33;
}
.background-color--third-dark {
  background-color: #604514;
}
.background-color--third-light {
  background-color: #f9dead;
}
.background-color--accent {
  background-color: #c4d701;
}

/**
 * A class for a settings checkbox that hides background images on mobile.
 */
@media all and (max-width: 1023px) {
  .background-image-display-mobile--hide {
    background-image: none;
  }
}

/**
 * Header logo block.
 */
.block-system-branding-block {}
.block-system-branding-block a {
  box-sizing: border-box;
  display: inline-block;
  padding: 18px 0 16px;
}
.block-system-branding-block h1 {
  line-height: 0;
}

/**
 * Blockquote checkbox classes for adding opening and closing quotes as needed.
 *
 * Especially useful if the opening/closing quotes have to look different than
 * the text in some way.
 */
.blockquote--closing-include p:last-child::after {
  content: "\201D";
}
.blockquote--opening-include p:first-child::before {
  content: "\201C";
}

/**
 * Default lines for cards (under image or faux top border).
 */
.card-hr--show {
  background-color: #666;
  height: 4px;
  line-height: 0;
}
.card-hr--hide {
  display: none;
}

/**
 * Allow links component buttons to have selectable backgrounds.
 */
.child-element-background-color--black > *,
.child-links-background-color--black a {
  background-color: #222;
}
.child-element-background-color--grey-dark > *,
.child-links-background-color--grey-dark a {
  background-color: #444;
}
.child-element-background-color--grey > *,
.child-links-background-color--grey a {
  background-color: #999;
}
.child-element-background-color--grey-light > *,
.child-links-background-color--grey-light a {
  background-color: #f5f5f5;
}
.child-element-background-color--white > *,
.child-links-background-color--white a {
  background-color: #fff;
}
.background-color--main,
.child-element-background-color--blue > *,
.child-links-background-color--blue a {
  background-color: #1a428a;
}
.background-color--main-dark,
.child-element-background-color--blue-dark > *,
.child-links-background-color--blue-dark a {
  background-color: #0a1a37;
}
.background-color--main-light,
.child-element-background-color--blue-light > *,
.child-links-background-color--blue-light a {
  background-color: #a3b3d0;
}
.child-element-background-color--second > *,
.child-links-background-color--second a {
  background-color: #009abf;
}
.child-element-background-color--second-dark > *,
.child-links-background-color--second-dark a {
  background-color: #003e4c;
}
.child-element-background-color--second-light > *,
.child-links-background-color--second-light a {
  background-color: #99d7e5 ;
}
.child-element-background-color--third > *,
.child-links-background-color--third a {
  background-color: #f0ad33;
}
.child-element-background-color--third-dark > *,
.child-links-background-color--third-dark a {
  background-color: #604514;
}
.child-element-background-color--third-light > *,
.child-links-background-color--third-light a {
  background-color: #f9dead;
}
.child-element-background-color--accent > *,
.child-links-background-color--accent a {
  background-color: #c4d701;
}

/**
 * Color classes for the settings dropdowns. Add here as needed.
 */
.color--black {
  color: #222;
}
.color--grey-dark {
  color: #444;
}
.color--grey {
  color: #999;
}
.color--grey-light {
  color: #f5f5f5;
}
.color--white {
  color: #fff;
}
.color--white a {
  color: #fff;
}
.color--white a:hover,
.color--white a:active {
  color: #999;
}
.color--main,
.color--blue {
  color: #1a428a;
}
.color--main-dark,
.color--blue-dark {
  color: #0a1a37;
}
.color--main-light,
.color--blue-light {
  color: #a3b3d0;
}
.color--second {
  color: #009abf;
}
.color--second-dark {
  color: #003e4c;
}
.color--second-light {
  color: #99d7e5 ;
}
.color--third {
  color: #f0ad33;
}
.color--third-dark {
  color: #604514;
}
.color--third-light {
  color: #f9dead;
}
.color--accent {
  color: #c4d701;
}

/**
 * When you need to set text in columns that auto-adjust to their container.
 */
.columnar {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}
.columnar > * {
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  page-break-inside: avoid;
}
@media all and (max-width: 767px) {
  .columnar {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

/**
 * Slide-out panel tray from the hamburger, if applicable.
 */
.compro-hamburger-panel {
  display: none;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -moz-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  text-align: left;
}
.compro-hamburger-panel > .content {
  display: none;
}
.compro-hamburger-panel.open > .content {
  display: block;
}

/**
 * Superfish dropdown menus and overrides.
 */
.compro-superfish li.menu-item--expanded {
  position: relative;
}
.compro-superfish li.menu-item--expanded > ul {
  background-color: rgba(10, 26, 55, 0.95);
  display: none;
  left: 0;
  min-width: 17em;
  position: absolute;
  text-align: left;
  top: 100%;
  top: calc(100% - 11px);
  z-index: 99;
}
.compro-superfish li.menu-item--expanded > ul a {
  border-bottom: 1px solid;
  display: block;
  padding: 16px 32px;
}
.compro-superfish li.menu-item--expanded > ul a:last-child {
  border-bottom: 0 none;
}
.compro-superfish li.menu-item--expanded:hover > ul,
.compro-superfish li.menu-item--expanded.sfHover > ul {
  display: block;
}
.sf-arrows .sf-with-ul::after {
  border: 5px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.8);
  content: '';
  display: inline-block;
  height: 0;
  margin: -4px 0 0 5px;
  position: absolute;
  top: 50%;
  width: 0;
}
.sf-arrows .sfHover .sf-with-ul::after {
  margin-top: -.6em;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Since property--value doesn't have enough flex, display, or cursor classes,
 * this fills in for the needed ones.
 */
.cursor--pointer {
  cursor: pointer;
}

/**
 * Style and layout for cards components.
 */
.entity-bundle-cards {}

/**
 * Rich text markup styles.
 */
.entity-bundle-rich-text {}
.entity-bundle-rich-text > blockquote,
.entity-bundle-rich-text > div,
.entity-bundle-rich-text > figure,
.entity-bundle-rich-text > ol,
.entity-bundle-rich-text > p,
.entity-bundle-rich-text > ul {
  margin-top: 1em;
  margin-bottom: 1em;
}
.entity-bundle-rich-text > h2,
.entity-bundle-rich-text > h3,
.entity-bundle-rich-text > h4,
.entity-bundle-rich-text > h5,
.entity-bundle-rich-text > h6 {
  margin-top: 1em;
  margin-bottom: .25em;
}

/**
 * Spacers.
 *
 * Hide spacers on mobile if they're just holding place in a horizontal layout.
 */
@media all and (max-width: 767px) {
  .entity-bundle-spacer:only-child {
    display: none;
  }
}

/**
 * Hide RSS icons while leaving them present for discovery.
 */
.feed-icons {
  display: none;
}

/**
 * Override property--value's weird initial/none behavior.
 */
.flex--initial {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -moz-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}
/* Oddly-specific override for SVGs and <img>s. max-width to half viewport. */
.flex--initial svg,
.flex--initial img {
  max-width: 780px;
}

/**
 * Sticky main header for the site.
 */
@media all and (min-width: 1024px) {
  .headroom {
    left: 0;
    position: fixed;
    right: 0;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
    will-change: transform;
    z-index: 100;
  }
  .headroom--pinned {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  .js .headroom--pinned {
    background-color: #222;
    background-color: rgba(34, 34, 34, 0.95);
  }
  .js .headroom--top {
    background-color: transparent;
  }
  .headroom--unpinned {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

/**
 * Override core inline list padding.
 */
ul.inline li:first-child {
  padding: 0 0.5em 0 0;
}

/**
 * Used in conjunction with compro-animate to trigger animated visibility.
 */
.js .revealOnScroll {
  opacity: 0;
}
.js .revealOnScroll.animated {
  opacity: 1;
  animation-duration: 2s;
}
@media all and (max-width: 770px) {
  .js .revealOnScroll.animated {
    animation-duration: 0s;
    animation-name: none;
  }
}

/**
 * Line-heights.
 */
.line-height--1 {
  line-height: 1;
}

/**
 * Max-heights.
 */
.max-height--56px {
  max-height: 56px;
}

/**
 * Core classes for the main menu (typically the header one).
 */
.menu--main {
  text-transform: lowercase;
}
.menu--main .menu {
  margin: 5px 0;
}
.menu--main .menu > li > a:hover,
.menu--main .menu > li > a:active,
.menu--main .menu > li > a.active,
.menu--main .menu > li > a.active-trail {
  color: #a3b3d0;
}
@media all and (max-width: 1280px) {
  .menu--main .menu > li > a {
    padding: 16px 16px;
  }
}

/**
 * Core menu class. Common styles for all front-end menus on the site.
 *
 * Same styling applies to header and footer, so only put common styles here.
 */
ul.menu {
  list-style: none outside;
  padding: 0;
}
ul.menu a[href*="tel:"] {
  cursor: text;
}
ul.menu a[href*="tel:"]:hover {
  text-decoration: none;
}
ul.menu > li {
  display: inline-block;
}
ul.menu > li > a {
  display: inline-block;
  margin: 0;
  padding: 16px 32px;
  text-decoration: none;
}

/**
 * Core messages.
 */
.messages {
  font-style: italic;
  margin: 10px 0;
  padding: 10px;
}
.messages--error {
  background: #f5d6dd;
  color: #290a11;
}
.messages--status {
  background: #d3f8f0;
  color: #072c24;
}
.messages--warning {
  background: #fcebcf;
  color: #301f03;
}

/**
 * Min-heights for teaser images and such.
 */
.min-height--160px {
  min-height: 160px;
}

/**
 * Min-width classes for flex wrapping.
 */
@media all and (min-width: 768px) {
  .min-width--280px {
    min-width: 280px;
  }
}

/**
 * Core class for the links at the bottom of node teasers.
 */
.node__links {
  margin: 20px 0 0;
}

/**
 * Make the "Read more" links more interesting.
 */
.node-readmore {
  font-size: .75em;
}
.node-readmore .button {
  margin: 10px 0 0;
  padding: 5px 10px;
}
.node-readmore .icon:before {
  margin-right: 5px;
}

/**
 * Padding classes.
 *
 * Horizontal for column section entities. At the mobile breakpoint the padding
 * zeroes out for consistency.
 *
 * Columns are then vertically spaced using flex classes from property--value.
 */
.padding-horizontal--0 {
  padding-left: 0;
  padding-right: 0;
}
.padding-horizontal--1 {
  padding-left: 5px;
  padding-right: 5px;
}
@media all and (max-width: 767px) {
  .padding-horizontal--1 {
    padding-left: 0;
    padding-right: 0;
  }
}
.padding-horizontal--2 {
  padding-left: 10px;
  padding-right: 10px;
}
@media all and (max-width: 767px) {
  .padding-horizontal--2 {
    padding-left: 0;
    padding-right: 0;
  }
}
.padding-horizontal--4 {
  padding-left: 20px;
  padding-right: 20px;
}
@media all and (max-width: 767px) {
  .padding-horizontal--4 {
    padding-left: 0;
    padding-right: 0;
  }
}
.padding-horizontal--8 {
  padding-left: 40px;
  padding-right: 40px;
}
@media all and (max-width: 767px) {
  .padding-horizontal--8 {
    padding-left: 0;
    padding-right: 0;
  }
}
.padding-horizontal--16 {
  padding-left: 80px;
  padding-right: 80px;
}
@media all and (max-width: 767px) {
  .padding-horizontal--16 {
    padding-left: 0;
    padding-right: 0;
  }
}
.padding-horizontal--32 {
  padding-left: 160px;
  padding-right: 160px;
}
@media all and (max-width: 767px) {
  .padding-horizontal--32 {
    padding-left: 0;
    padding-right: 0;
  }
}
.padding-vertical--0 {
  padding-bottom: 0;
  padding-top: 0;
}
.padding-vertical--1 {
  padding-bottom: 5px;
  padding-top: 5px;
}
.padding-vertical--2 {
  padding-bottom: 10px;
  padding-top: 10px;
}
.padding-vertical--4 {
  padding-bottom: 20px;
  padding-top: 20px;
}
.padding-vertical--8 {
  padding-bottom: 40px;
  padding-top: 40px;
}
@media all and (max-width: 960px) {
  .padding-vertical--8 {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.padding-vertical--16 {
  padding-bottom: 80px;
  padding-top: 80px;
}
@media all and (max-width: 960px) {
  .padding-vertical--16 {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}
.padding-vertical--32 {
  padding-bottom: 160px;
  padding-top: 160px;
}
@media all and (max-width: 960px) {
  .padding-vertical--32 {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

/**
 * Core pagers.
 */
.pager {
  font-weight: 600;
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase;
}
.pager ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.pager ul > li {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.pager li > a,
.pager li > span {
  color: #1a428a;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}
.pager li > a:hover {
  border-color: #f0ad33;
}
.pager li.pager-current > span,
.pager li.pager-current > a,
.pager li.is-active > span,
.pager li.is-active > a {
  border-color: #f0ad33;
}
.pager li.pager__item--previous {
  border-right: 1px solid #e8e8e8;
  margin-right: 4px;
  padding-right: 16px;
}
.pager li.pager__item--next {
  border-left: 1px solid #e8e8e8;
  margin-left: 4px;
  padding-left: 16px;
}

/**
 * The front page often has some strange overrides.
 */
.path-frontpage {}
.path-frontpage .region--splash h1 {
  font-size: 5.625rem;
}
@media all and (max-width: 767px) {
  .path-frontpage .region--splash h1 {
    font-size: 2.25rem;
  }
}

/**
 * Add stylistic pipes to lists.
 */
.pipe-spaced {}
.pipe-spaced ul.menu > li > a,
.pipe-spaced ul.menu > li > span {
  padding: 10px 0;
}
.pipe-spaced li::after {
  content: '|';
  display: inline-block;
  font-weight: 300;
  opacity: .9;
  padding: 0 10px;
  vertical-align: middle;
}
.pipe-spaced li:last-child::after,
.pipe-spaced li.last::after {
  display: none;
}

/**
 * Utility class for printer page breaks.
 */
.print-break {
  page-break-before: always;
}

/**
 * Skip-to-main-content links for accessibility.
 */
.skip-hide {
  background: #009abf;
  position: relative;
  text-align: center;
}
.skip-hide a {
  color: #f9dead;
  display: block;
  height: 1px;
  left: -10000px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: auto;
  width: 1px;
}
.skip-hide a:focus {
  height: auto;
  outline: 0 none;
  position: static;
  width: auto;
}

/**
 * Compro-slick slideshow base classes.
 */
.slick-arrow {
  bottom: 50%;
  padding: 10px;
  position: absolute;
  z-index: 4;
}
.slick-next {
  right: -20px;
}
.slick-prev {
  left: -20px;
}

/**
 * Extend/override the compro_custom social icons.
 */
.social {
  margin: 20px 0 0;
}
.social a[href]:before {
  border-radius: 50%;
  margin: 0 5px 5px 0;
  min-height: 16px;
  padding: 4px 7px 5px 9px;
  min-width: 16px;
  text-decoration: none;
}
.social a[href*="drupal.org"]:before {
  content: '\1f4a7';
}
.social a[href*="drupal.org"]:hover:before {
  background-color: #0678be;
}

/**
 * Byline base class.
 */
.submitted {
  color: #ccc;
  margin: 0 0 10px;
}

/**
 * Core tabs.
 */
ul.tabs {
  border-bottom: 1px solid;
  border-color: #ccc;
  list-style: none;
  margin: 20px 0;
  overflow: hidden;
  padding: 0 0 0 1em;
}
ul.tabs > li {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 1px 0;
  display: block;
  float: left;
  margin: 0 1em 0 0;
}
ul.tabs > li > a {
  color: #0a1a37;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
}
ul.tabs > li > a:hover {
  background: #009abf;
  color: #fff;
}
ul.tabs > li > a.active {
  background: #009abf;
  color: #fff;
}
@media all and (max-width: 550px) {
  ul.tabs {
    border: 1px solid #ccc;
    font-size: 0.8em;
    padding: 0;
  }
  ul.tabs > li {
    border-radius: 0;
    border-width: 0 0 1px;
    float: none;
    margin: 0;
  }
  ul.tabs > li:last-child {
    border-width: 0;
  }
  ul.tabs > li > a {
    display: block;
  }
}

/**
 * The teaser--image area of node and term teasers.
 *
 * Other classes ensure a width of 160 and min-height 160.
 */
.teaser--image {
  background: #444 url('../images/placeholder.png') center center scroll no-repeat;
  overflow: hidden;
  position: relative;
  text-align: center;
}
@media all and (max-width: 1023px) {
  .teaser--image {
    margin: 0 0 5px;
    width: 100% !important;
  }
}
.teaser--image img,
.teaser--image svg {
  height: 100% !important;
  max-width: inherit;
  position: absolute;
  width: auto;
}
@media all and (max-width: 1023px) {
  .teaser--image img,
  .teaser--image svg {
    height: auto !important;
    min-height: 100%;
    min-width: 100% !important;
  }
}

/**
 * Horizontally center children of the text-align--center class.
 *
 * If a parent has text-align--center while a child has a different text-align
 * class, it may be necessary to override those classes similarly (since the
 * specificity is higher that a bare class).
 */
.text-align--center figure,
.text-align--center img,
.text-align--center p,
.text-align--center picture,
.text-align--center svg,
.text-align--center video,
.text-align--justify figure,
.text-align--justify img,
.text-align--justify p,
.text-align--justify picture,
.text-align--justify svg,
.text-align--justify video {
  margin: 0 auto 10px;
}
.text-align--left figure,
.text-align--left img,
.text-align--left picture,
.text-align--left svg,
.text-align--left video,
.text-align--right figure,
.text-align--right img,
.text-align--right picture,
.text-align--right svg,
.text-align--right video {
  margin: 0;
}
.text-align--left p,
.text-align--right p {
  margin: 0 0 10px;
}
.text-align--center p:last-child,
.text-align--justify p:last-child,
.text-align--left p:last-child,
.text-align--right p:last-child {
  margin-bottom: 0;
}

/**
 * Views filters.
 */
.view-filters {
  display: inline-block;
  max-width: none;
}
.view-filters label {
  display: inline-block;
}

/**
 * Consistent stylings per view mode.
 */
.view-mode--full > .node__content > .field-name--body {
  background-color: #fafafa;
  font-style: italic;
  padding: 10px;
}
.view-mode--small h2 {
  font-size: 1.25em;
}
.view-mode--teaser h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

/**
 * Widths for flex elements.
 */
.width--160px {
  width: 160px;
}
@media all and (min-width: 1024px) {
  .width--30p {
    flex: 0 1 30%;
    width: 30%;
  }
}
