/**
 * @file
 * Style for accordions.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
details {
  border-bottom: 1px solid;
  margin: 10px 0;
  padding: 5px 15px;
  text-align: left;
  position: relative; }
  details > summary {
    display: block;
    cursor: pointer;
    padding: 2px 5px; }
    details > summary:focus {
      outline: none; }
    details > summary::-webkit-details-marker {
      display: none; }
    details > summary::marker {
      display: none; }
    details > summary::after {
      color: #666;
      content: '\2304';
      font-size: 30px;
      line-height: 1;
      position: absolute;
      right: 24px;
      top: -5px;
      transform: scaleY(1);
      -moz-transform: scaleY(1);
      -o-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transition: all .2s ease-in; }
  details[open] > summary {
    margin-bottom: 20px; }
    details[open] > summary:after {
      top: 10px;
      transform: scaleY(-1);
      -moz-transform: scaleY(-1);
      -o-transform: scaleY(-1);
      -webkit-transform: scaleY(-1); }

/**
 * @file
 * Style for the Card entity type.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.card-text-focal--center > .inner {
  left: 10px;
  right: 10px; }
.card-text-focal--left > .inner {
  left: 10px;
  right: 35%; }
  @media all and (max-width: 1440px) {
    .card-text-focal--left > .inner {
      right: 10px; } }
.card-text-focal--right > .inner {
  left: 35%;
  right: 10px; }
  @media all and (max-width: 1440px) {
    .card-text-focal--right > .inner {
      left: 10px; } }

.entity-bundle-cards .entity-type-card.view-mode-default {
  padding: 0 1.2rem; }
  .entity-bundle-cards .entity-type-card.view-mode-default .field-name--title {
    font-size: 20px;
    color: #0faeb7;
    margin-top: 2rem;
    font-weight: 500; }
  .entity-bundle-cards .entity-type-card.view-mode-default img {
    margin: 0 auto; }
  .entity-bundle-cards .entity-type-card.view-mode-default h2
  .field-type--text-long {
    text-align: left; }
.entity-bundle-cards .entity-type-card.entity-bundle-rollover {
  margin: 0;
  padding: 0; }
  .entity-bundle-cards .entity-type-card.entity-bundle-rollover .entity-bundle-heading {
    color: #ffcb05; }
  .entity-bundle-cards .entity-type-card.entity-bundle-rollover .entity-bundle-text,
  .entity-bundle-cards .entity-type-card.entity-bundle-rollover .entity-bundle-rich-text {
    color: #fff; }
    .entity-bundle-cards .entity-type-card.entity-bundle-rollover .entity-bundle-text .field-name--field-text,
    .entity-bundle-cards .entity-type-card.entity-bundle-rollover .entity-bundle-rich-text .field-name--field-text {
      font-weight: 500; }
.entity-bundle-cards .entity-type-card .field-type--text-long {
  margin-bottom: 10px; }
@media all and (max-width: 770px) {
  .entity-bundle-cards .entity-type-card {
    margin-bottom: 80px; }
    .entity-bundle-cards .entity-type-card:last-child {
      margin-bottom: 0; } }

/**
 * @file
 * Style for entities in general.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.entity-bundle-heading {
  color: #0e3e54;
  max-width: 800px; }
  .path-frontpage .entity-bundle-heading {
    max-width: none; }
  .color--white .entity-bundle-heading {
    color: #fff; }
.entity-bundle-column {
  padding-left: 1rem;
  padding-right: 1rem; }
  .entity-bundle-column .entity-bundle-heading,
  .entity-bundle-column .entity-bundle-rich-text,
  .entity-bundle-column .entity-bundle-list {
    max-width: 550px; }
.entity-bundle-link {
  padding-top: 1rem; }
.entity-bundle-rich-text ul {
  margin: 20px 40px;
  max-width: 70ch;
  overflow-wrap: break-word;
  word-wrap: break-word; }
  .entity-bundle-rich-text ul li {
    list-style: none;
    position: relative;
    padding-left: 25px;
    text-align: left; }
    .entity-bundle-rich-text ul li:before {
      content: '\2023';
      position: absolute;
      left: 0;
      color: #0e3e54; }
[class*='background-color--'] .entity-bundle-stripe input {
  border: 1px solid #ebebeb; }
.entity-bundle-company-reference .vocabulary-company {
  padding-left: 10px;
  padding-right: 10px; }
  .entity-bundle-company-reference .vocabulary-company a {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .entity-bundle-company-reference .vocabulary-company .field-name--field-subtitle {
    min-height: 40px; }
  @media all and (max-width: 1225px) {
    .entity-bundle-company-reference .vocabulary-company {
      display: inline-block;
      margin: 50px 0; } }
@media all and (max-width: 1225px) {
  .entity-bundle-company-reference {
    display: block; } }
.entity-type-section .list-style-type--fa-check-circle > li {
  list-style: none;
  position: relative;
  padding-left: 60px;
  text-align: left;
  line-height: 21px;
  margin-bottom: 1rem;
  min-height: 29px;
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto; }
  .entity-type-section .list-style-type--fa-check-circle > li:before {
    content: '\f058';
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-size: 29px;
    line-height: 29px;
    color: #3ca0ce;
    position: absolute;
    font-weight: 900;
    left: 0; }
.entity-type-section.has-field-video-background .entity-bundle-heading {
  color: #fff; }
@media all and (max-width: 770px) {
  .entity-type-section .flex-direction--row {
    flex-direction: column; } }

.node.node--view-mode-teaser > h2 {
  font-size: 1.5em; }
.node.node--view-mode-full > .node__content > .field {
  max-width: 1200px;
  margin: 0 auto; }
.node.node--type-release .submitted {
  margin: 10px 0; }

.node__links {
  margin: 20px 0 0; }

.footer-wrapper {
  background-color: #0e3e54; }
  .footer-wrapper > div {
    flex-direction: column-reverse;
    padding-top: 10px; }
  .footer-wrapper .menu {
    display: flex;
    flex-direction: column; }
    .footer-wrapper .menu a,
    .footer-wrapper .menu span {
      color: #fff;
      font-weight: 100;
      padding: 5px 0;
      font-size: 14px;
      display: inline-block; }
      .footer-wrapper .menu a:hover,
      .footer-wrapper .menu span:hover {
        color: #ffcb05;
        text-shadow: 1px 0 0; }
  .footer-wrapper ul.menu > li.menu-item--expanded {
    vertical-align: top;
    flex-grow: 1; }
    .footer-wrapper ul.menu > li.menu-item--expanded > a {
      color: #0faeb7;
      font-size: 18px;
      font-weight: 700; }
      .footer-wrapper ul.menu > li.menu-item--expanded > a:hover {
        text-shadow: none; }
    .footer-wrapper ul.menu > li.menu-item--expanded ul.menu {
      display: block; }
      .footer-wrapper ul.menu > li.menu-item--expanded ul.menu > li {
        display: block; }
  .footer-wrapper .region-footer-utility .menu a,
  .footer-wrapper .region-footer-utility .menu span {
    font-size: 12px; }
  .footer-wrapper .region-footer-utility .sencha-badge {
    margin-bottom: 2rem; }
  @media all and (max-width: 770px) {
    .footer-wrapper .region-footer-utility .sencha-badge {
      display: inline-block; }
    .footer-wrapper .region-footer-utility .pipe-spaced li:after {
      content: none; } }
  .footer-wrapper .social {
    margin-top: 1rem; }
    .footer-wrapper .social a::before {
      border-radius: 2px;
      margin-right: .5rem;
      background-color: #0faeb7;
      padding: 5px 8px;
      color: #0e3e54; }
    .footer-wrapper .social a:last-child:before {
      margin-right: 0; }
    .footer-wrapper .social a:hover::before {
      background-color: #ffcb05;
      color: #0e3e54; }
  @media all and (min-width: 770px) {
    .footer-wrapper ul.menu {
      flex-direction: row; }
    .footer-wrapper > div {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: row; } }

/**
 * @file
 * Style for sticky headers at the top of pages.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
@media all and (min-width: 1226px) {
  .headroom {
    left: 0;
    position: fixed;
    right: 0;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
    will-change: transform;
    z-index: 100; }
    .path-frontpage .headroom--top {
      background-color: transparent; }
    .headroom--top {
      background-color: rgba(14, 62, 84, 0.9); }
    .headroom--not-top:not(.headroom--unpinned) {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%); }
    .headroom--not-top:not(.headroom--pinned) {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%); }
    .headroom--pinned {
      background-color: rgba(14, 62, 84, 0.95);
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%); }
    .headroom--unpinned {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%); } }
/**
 * @file
 * Style for heroes at the top of pages.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.has-field-video-background .field-name--field-video-background {
  display: none; }
@media all and (min-width: 768px) {
  .has-field-video-background {
    position: relative; }
    .has-field-video-background .contextual-region {
      position: static; }
    .has-field-video-background .entity-type-component {
      position: relative;
      z-index: 3; }
    .has-field-video-background .field-name--field-video-background {
      bottom: 0;
      display: block;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1; }
      .has-field-video-background .field-name--field-video-background > video {
        min-width: 1200px; } }
    @media all and (min-width: 768px) and (max-width: 1225px) {
      .has-field-video-background .field-name--field-video-background {
        top: 80px; } }
@media all and (min-width: 768px) {
    .has-field-video-background:before {
      background-color: #227982;
      background-color: rgba(34, 121, 130, 0.8);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2; } }

.splash-header.has-field-image-background {
  min-height: 57vh; }
.splash-header .block-hero-title-block {
  display: inline-block; }

.path-frontpage .region-splash a {
  color: #ffcb05; }
  .path-frontpage .region-splash a:hover {
    color: #3ca0ce; }
.path-frontpage .block-hero-title-block a,
.path-frontpage .block-hero-title-block p {
  font-size: 18px; }

/**
 * @file
 * Style for hubspot form embeds.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
@media all and (min-width: 670px) {
  .hs-form input:not([type]),
  .hs-form input[type="email"],
  .hs-form input[type="number"],
  .hs-form input[type="password"],
  .hs-form input[type="tel"],
  .hs-form input[type="url"],
  .hs-form input[type="text"] {
    width: 95%; } }
.hs-form ul {
  list-style: none; }
.hs-form .clearfix,
.hs-form .field,
.hs-form .hs-form-field {
  margin-bottom: 20px; }
.hs-form .hsErrMsgContainer ul {
  color: black; }
.hs-input:-moz-placeholder {
  color: #bfbfbf; }
.hs-input::-webkit-input-placeholder {
  color: #bfbfbf; }

input.hs-input.error,
.hs-form div.field.error input,
.hs-form div.field.error textarea,
.hs-form div.field.error .chzn-choices,
textarea.hs-input.error {
  border-color: #de8b20; }

input.hs-input.error:focus,
.hs-form div.field.error input:focus,
.hs-form div.field.error textarea:focus,
.hs-form div.field.error .chzn-choices:focus,
textarea.hs-input.error:focus {
  border-color: #f9e8d2; }

.help-block {
  color: gray;
  display: block;
  max-width: 600px; }
.help-inline {
  color: gray;
  padding-left: 5px; }

.hsformerror {
  background-color: #f9e8d2;
  border: 1px solid black;
  display: none;
  height: auto;
  z-index: 99; }
  .hsformerror .close-form-error {
    float: right;
    display: inline; }

.inline-inputs span,
.inline-inputs input {
  display: inline-block; }

/**
 * @file
 * Menu component.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.compro-hamburger-panel {
  display: none;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -moz-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  text-align: left; }
  .compro-hamburger-panel > .content {
    display: none; }
  .compro-hamburger-panel.open {
    background-color: #0e3e54;
    color: #fff;
    margin-left: -185px;
    padding: 0 0 16px 20px; }
    .compro-hamburger-panel.open > .content {
      display: block; }
    .compro-hamburger-panel.open a:link,
    .compro-hamburger-panel.open a:visited {
      color: inherit; }
  @media all and (max-width: 1225px) {
    .compro-hamburger-panel {
      display: block; } }

.compro-superfish li.menu-item--expanded {
  position: relative; }
  .compro-superfish li.menu-item--expanded > ul {
    background-color: rgba(57, 109, 132, 0.95);
    display: none;
    left: 0;
    min-width: 17em;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 99; }
    @media all and (min-width: 1225px) {
      .compro-superfish li.menu-item--expanded > ul {
        left: -32px; } }
    .compro-superfish li.menu-item--expanded > ul a {
      border-bottom: 1px solid;
      display: block;
      padding: 16px 32px; }
      .compro-superfish li.menu-item--expanded > ul a:last-child {
        border-bottom: 0 none; }
  .compro-superfish li.menu-item--expanded:hover > ul, .compro-superfish li.menu-item--expanded.sfHover > ul {
    display: block; }

ul.menu {
  list-style: none outside;
  padding: 0; }
  ul.menu a[href*="tel:"] {
    cursor: text; }
    ul.menu a[href*="tel:"]:hover {
      text-decoration: none; }
  ul.menu > li {
    display: inline-block; }
    ul.menu > li > a {
      display: inline-block;
      padding: 16px 30px 16px 0px;
      text-decoration: none; }
      ul.menu > li > a.cta--in-menu {
        background-color: #de8b20;
        font-weight: 600;
        padding: 16px 40px; }
        ul.menu > li > a.cta--in-menu:hover {
          background-color: #f9e8d2; }
        @media all and (max-width: 780px) {
          ul.menu > li > a.cta--in-menu {
            padding: 16px; } }
      ul.menu > li > a.divider-left {
        border-left: 1px solid #fff;
        padding-left: 30px; }
        @media all and (max-width: 1330px) {
          ul.menu > li > a.divider-left {
            padding-left: 16px; } }
        @media all and (max-width: 1130px) {
          ul.menu > li > a.divider-left {
            border-left: 0 none;
            padding: 16px; }
            ul.menu > li > a.divider-left::before {
              clear: both;
              content: '';
              display: table; } }

.menu--main .menu > li > a {
  padding: 16px 30px 23px 0px; }
  @media all and (max-width: 1355px) {
    .menu--main .menu > li > a {
      padding: 16px 13px 16px 0px; } }
  @media all and (max-width: 1225px) {
    .menu--main .menu > li > a {
      display: block;
      padding: 16px; } }
@media all and (max-width: 1130px) {
  .menu--main .menu > li {
    display: block; } }
.menu--utility .menu > li > a {
  padding: 16px 10px 16px 0px; }
  @media all and (max-width: 1225px) {
    .menu--utility .menu > li > a {
      padding: 16px 0;
      margin-left: 16px; } }
@media all and (max-width: 780px) {
  .menu--utility {
    font-size: .75em; } }

.sf-arrows .sf-with-ul::after {
  border: 5px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.8);
  content: '';
  display: inline-block;
  height: 0;
  margin: -4px 0 0 5px;
  position: absolute;
  top: 50%;
  width: 0; }
.sf-arrows .sfHover .sf-with-ul::after {
  margin-top: -.6em;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.utility-and-nav {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: left; }
  .utility-and-nav a:link,
  .utility-and-nav a:visited {
    color: inherit; }
  .utility-and-nav a:hover {
    color: #ffcb05;
    text-decoration: none; }
  .utility-and-nav .inner {
    max-width: inherit; }
  @media all and (max-width: 1225px) {
    .utility-and-nav.compro-hamburger > .region {
      display: none; }
    .utility-and-nav.compro-hamburger.is-active > .region {
      display: block;
      float: none;
      margin-top: 0;
      font-size: 18px; } }
  .utility-and-nav .region {
    display: inline-block;
    margin-top: 30px; }
    .utility-and-nav .region-nav {
      font-size: 18px; }
      @media all and (max-width: 1300px) {
        .utility-and-nav .region-nav {
          font-size: 17px; } }
    .utility-and-nav .region-utility {
      font-size: 12px;
      float: right;
      margin-top: 37px; }
      .utility-and-nav .region-utility .button {
        background-color: #de8b20;
        padding: 7px;
        border-radius: 4px;
        margin-right: 60px; }
        .utility-and-nav .region-utility .button:hover {
          color: #fff;
          background-color: #3ca0ce; }

@media all and (max-width: 1225px) {
  .top-bar {
    display: block;
    background-color: #0e3e54;
    padding-bottom: 10px;
    position: relative;
    z-index: 3; }
    .top-bar .region-header {
      display: inline-block;
      float: left; }
    .top-bar .compro-hamburger-icon {
      display: inline-block;
      float: right;
      width: 40px;
      height: 40px;
      margin-right: 1rem;
      margin-top: 1rem;
      border-bottom: 4px solid white;
      position: relative; }
      .top-bar .compro-hamburger-icon:hover {
        cursor: pointer; }
      .top-bar .compro-hamburger-icon:before {
        content: ' ';
        border-bottom: 4px solid white;
        top: 10px;
        width: 100%;
        position: absolute;
        left: 0; }
      .top-bar .compro-hamburger-icon:after {
        content: ' ';
        border-top: 4px solid white;
        top: 25px;
        width: 100%;
        position: absolute;
        left: 0; }
    .top-bar .compro-hamburger {
      clear: both;
      background-color: #0e3e54; }
      .top-bar .compro-hamburger.is-active li.menu-item--expanded > a:after {
        content: '\f105';
        display: inline-block;
        font-family: "Font Awesome 5 Free", sans-serif;
        padding: 0 .5rem;
        transition: transform .2s; }
      .top-bar .compro-hamburger.is-active li.menu-item--expanded ul.menu {
        display: none; }
      .top-bar .compro-hamburger.is-active li.menu-item--expanded > ul.menu {
        display: block;
        position: relative; }
      .top-bar .compro-hamburger.is-active li.menu-item--expanded > a:after {
        display: inline-block;
        transform: rotate(90deg); }
    .top-bar .utility-and-nav li {
      display: block; } }
.compro-hamburger-icon:focus {
  outline: 0 none; }
.compro-hamburger-icon, .compro-hamburger-icon::before, .compro-hamburger-icon::after {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

/**
 * @file
 * Message component.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.messages {
  font-style: italic;
  margin: 10px 0;
  padding: 10px; }
  .messages--error {
    background: #f9e8d2;
    color: black; }
  .messages--status {
    background: #d0f9fb;
    color: black; }
  .messages--warning {
    background: #fff4cc;
    color: black; }

/**
 * @file
 * Style for pagers.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.pager {
  font-weight: 600;
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase; }
  .pager li {
    line-height: 1; }
    .pager li > a,
    .pager li > span {
      border: 2px solid transparent;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      color: #0e3e54;
      display: inline-block;
      font-size: 0.7em;
      padding: 5px 9px;
      text-decoration: none; }
    .pager li > a:hover {
      border-color: #de8b20; }
    .pager li.pager-current > span,
    .pager li.pager-current > a, .pager li.is-active > span,
    .pager li.is-active > a {
      border-color: #de8b20; }
    .pager li.pager__item--previous {
      border-right: 1px solid #e8e8e8;
      margin-right: 4px;
      padding-right: 16px; }
    .pager li.pager__item--next {
      border-left: 1px solid #e8e8e8;
      margin-left: 4px;
      padding-left: 16px; }
  .pager ul {
    display: inline-block;
    margin: 0;
    padding: 0; }
    .pager ul > li {
      display: inline-block;
      margin: 0; }

/**
 * @file
 * Style for regions (non-layout).
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.region-header .logo {
  max-width: 125px; }
.region-footer {
  background-color: #0e3e54;
  color: #fff; }
  .region-footer > .inner {
    padding: 40px 20px 10px 0px; }
    @media all and (max-width: 770px) {
      .region-footer > .inner {
        padding: 40px 0px 20px; } }
  .region-footer a:link, .region-footer a:visited {
    color: inherit; }
  .region-footer .contact-info-address span {
    display: inline-block; }
    .region-footer .contact-info-address span[itemprop="streetAddress"] {
      display: block; }
  .region-footer .menu > li > a {
    padding: 0; }
  .region-footer .muted {
    color: #d3ecf8;
    font-size: 0.8em; }
  .region-footer .text-transform--uppercase {
    font-weight: 400; }
  .region-footer-menu {
    padding-left: 1rem; }
  @media all and (max-width: 700px) {
    .region-footer .float--left,
    .region-footer .float--right {
      float: none;
      margin: 0 0 20px; } }
  @media all and (min-width: 770px) {
    .region-footer-menu {
      padding: 30px 0 0 140px;
      max-width: 840px;
      width: 100%; } }

/**
 * @file
 * Style for the skip link.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.skip-hide {
  background: #24a1db;
  position: relative;
  text-align: center; }
  .skip-hide a {
    color: #f9e8d2;
    display: block;
    height: 1px;
    left: -10000px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    top: auto;
    width: 1px; }
    .skip-hide a:focus {
      height: auto;
      outline: 0 none;
      position: static;
      width: auto; }

/**
 * @file
 * Slick slideshows.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.slick-arrow {
  background-color: transparent;
  bottom: 50%;
  color: transparent;
  font-size: 0;
  font-weight: 600;
  margin: 0 0 -30px;
  padding: 10px;
  position: absolute;
  transform: scale(0.7, 1);
  z-index: 4; }
  .slick-arrow::after {
    content: '\25B7';
    color: #fff;
    font-size: 60px; }
  .slick-arrow:hover {
    background-color: transparent; }
    .slick-arrow:hover::after {
      color: #de8b20; }
  @media all and (max-width: 1060px) {
    .slick-arrow {
      opacity: 0.5; } }
.slick-initialized .slick-slide.display--flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: auto; }
.slick-initialized .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
.slick-next {
  right: -20px; }
.slick-prev {
  left: -20px; }
  .slick-prev::after {
    content: '\25C1'; }

/**
 * @file
 * Style for tabs.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
ul.tabs {
  border-bottom: 1px solid;
  border-color: #ccc;
  list-style: none;
  margin: 20px 0;
  overflow: hidden;
  padding: 0 0 0 1em; }
  ul.tabs > li {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 0;
    display: block;
    float: left;
    margin: 0 1em 0 0; }
    ul.tabs > li > a {
      color: #024;
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      -moz-transition: background-color 0.3s ease-out;
      -o-transition: background-color 0.3s ease-out;
      -webkit-transition: background-color 0.3s ease-out;
      transition: background-color 0.3s ease-out; }
      ul.tabs > li > a:hover {
        background: #0ae;
        color: #fff; }
      ul.tabs > li > a.active {
        background: #079ac4;
        color: #fff; }

@media all and (max-width: 550px) {
  ul.tabs {
    border: 1px solid #ccc;
    font-size: 0.8em;
    padding: 0; }
    ul.tabs > li {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border-width: 0 0 1px;
      float: none;
      margin: 0; }
      ul.tabs > li:last-child {
        border-width: 0; }
      ul.tabs > li > a {
        display: block; } }
/**
 * @file
 * Style for views directly.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.node--type-blog.node--view-mode-full {
  text-align: left;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto; }
  .node--type-blog.node--view-mode-full figcaption {
    margin: 10px 0; }
  .node--type-blog.node--view-mode-full figure {
    display: inherit; }
  .node--type-blog.node--view-mode-full .field-label ~ a {
    margin-left: 5px; }
  .node--type-blog.node--view-mode-full .field-name--body {
    font-size: 1.25em; }
    .node--type-blog.node--view-mode-full .field-name--body > *,
    .node--type-blog.node--view-mode-full .field-name--body img {
      margin: 0 auto 30px; }
  .node--type-blog.node--view-mode-full .node__content {
    max-width: 750px;
    margin: 0 auto; }
  .node--type-blog.node--view-mode-full .node__content > .field-name--body.field-type--text-with-summary {
    margin-bottom: 30px; }
  .node--type-blog.node--view-mode-full .submitted {
    text-align: center; }
.node--type-blog.node--view-mode-teaser {
  text-align: left; }
  .node--type-blog.node--view-mode-teaser .field-name--title {
    font-size: 1.225em;
    font-weight: bold; }
  .node--type-blog.node--view-mode-teaser .field-label ~ a {
    margin-left: 5px; }
  .node--type-blog.node--view-mode-teaser .node__links {
    text-align: center; }

/**
 * @file
 * Style for views directly.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.node--type-video.node--view-mode-full {
  padding: 40px 20px;
  max-width: 650px;
  margin: 0 auto; }
  .node--type-video.node--view-mode-full .node__content > .field {
    margin-bottom: 20px; }
  .node--type-video.node--view-mode-full iframe {
    border: none; }
.node--type-video.node--view-mode-teaser .field-type--video-embed-field img {
  margin: 0 auto; }
.node--type-video.node--view-mode-teaser.rollover,
.node--type-video.node--view-mode-teaser .rollover {
  margin-bottom: 40px; }
  .node--type-video.node--view-mode-teaser.rollover h2,
  .node--type-video.node--view-mode-teaser .rollover h2 {
    color: #0faeb7;
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px; }
    .node--type-video.node--view-mode-teaser.rollover h2 > a,
    .node--type-video.node--view-mode-teaser .rollover h2 > a {
      font-weight: 300; }
  .node--type-video.node--view-mode-teaser.rollover--hover,
  .node--type-video.node--view-mode-teaser.rollover .field-name--field-media-video-embed-field,
  .node--type-video.node--view-mode-teaser .rollover--hover,
  .node--type-video.node--view-mode-teaser .rollover .field-name--field-media-video-embed-field {
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #fff; }
    .node--type-video.node--view-mode-teaser.rollover--hover .video-hover-title > a,
    .node--type-video.node--view-mode-teaser.rollover .field-name--field-media-video-embed-field .video-hover-title > a,
    .node--type-video.node--view-mode-teaser .rollover--hover .video-hover-title > a,
    .node--type-video.node--view-mode-teaser .rollover .field-name--field-media-video-embed-field .video-hover-title > a {
      color: #ffcb05;
      font-weight: 700; }
      .node--type-video.node--view-mode-teaser.rollover--hover .video-hover-title > a:before,
      .node--type-video.node--view-mode-teaser.rollover .field-name--field-media-video-embed-field .video-hover-title > a:before,
      .node--type-video.node--view-mode-teaser .rollover--hover .video-hover-title > a:before,
      .node--type-video.node--view-mode-teaser .rollover .field-name--field-media-video-embed-field .video-hover-title > a:before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
    .node--type-video.node--view-mode-teaser.rollover--hover .submitted,
    .node--type-video.node--view-mode-teaser.rollover .field-name--field-media-video-embed-field .submitted,
    .node--type-video.node--view-mode-teaser .rollover--hover .submitted,
    .node--type-video.node--view-mode-teaser .rollover .field-name--field-media-video-embed-field .submitted {
      color: #fff;
      margin: 20px 0 0 0; }
  .node--type-video.node--view-mode-teaser.rollover:hover,
  .node--type-video.node--view-mode-teaser .rollover:hover {
    background-color: #030303; }

/**
 * @file
 * Style for views directly.
 */
/**
 * @file
 * Variables for reuse throughout the theme.
 */
/**
 * Common settings.
 */
/**
 * Colors.
 *
 * @see http://razorltd.github.io/sasscolourfunctioncalculator/
 */
/* Named colors */
/* Main settings. */
/* Stateful colors. */
/* Utility colors. */
/**
 * Functions.
 */
/* stylelint-disable */
/* stylelint-enable */
.views-label {
  font-weight: bold; }
.views-row {
  margin: 0 0 40px; }
.view-taxonomy-term {
  margin: 10px auto;
  max-width: 1200px; }
.view-case-study .views-row {
  padding: 40px 20px;
  max-width: 320px; }
  .view-case-study .views-row .views-field-field-longtext {
    margin: 20px 0; }
.view-blog .views-row, .view-event .views-row {
  background-color: #f8f8f9;
  padding: 40px 20px; }
.view-blog .field-name--body, .view-event .field-name--body {
  margin-top: 20px; }
  .view-blog .field-name--body img, .view-event .field-name--body img {
    margin: 10px auto; }
.view-filters {
  display: inline-block;
  max-width: none; }
  .view-filters label {
    display: inline-block; }
    .view-filters label:after {
      content: ":";
      padding-left: 2px; }
  .view-filters .form-select {
    text-align: center;
    display: inline-block; }
    .view-filters .form-select > div {
      display: inline-block;
      margin: 20px; }
    .view-filters .form-select a {
      font-weight: 500;
      color: #6b6b6b;
      padding: 10px 20px;
      border: 1px solid #6b6b6b;
      border-radius: 4px; }
      .view-filters .form-select a:hover {
        color: #fff;
        border-color: #de8b20;
        background-color: #de8b20; }
      .view-filters .form-select a.bef-link-active {
        color: #fff;
        border-color: #de8b20;
        background-color: #de8b20; }
.view-release p {
  margin-left: 0; }
@media all and (min-width: 1024px) {
  .view-release .align-self--center {
    margin: 0 0 10px 20px; } }
@media all and (max-width: 1023px) {
  .view-release .display--flex {
    display: block; } }
.view-release .views-field {
  margin-bottom: 10px; }
.view-resource form {
  max-width: none; }
.view .vocabulary-video-type {
  text-align: left;
  margin-bottom: 40px; }

.viewsreference--view-title {
  border-bottom: 1px solid #e6e6e6;
  color: #0e3e54;
  font-weight: 400;
  margin: 20px 0 20px;
  padding: 10px 0;
  text-align: left;
  text-transform: uppercase; }

.views-element-container {
  padding: 0 10px; }

/*# sourceMappingURL=components.css.map */
